@import "constants";
@import "grid";
@import "animations";
@import "typography";

.admin-page-header {
  margin-bottom: $grid-gap;
  @include display-grid;
  grid-template-columns: 6fr 1fr;

  .btn {
    justify-self: end;
  }

  .page-title {
    font-size: 3em;
  }
}

#project-create {

  #project-header {
    @include display-grid;
    @include grid-gap($grid-gap, $grid-gap-small);
    grid-template-columns: 2fr 1fr;
    margin-bottom: 4em;
    align-items: center;

    .page-title {
      font-size: 3em;
    }

    #delete-btn,
    #star-blocked {
      justify-self: end
    }
  }

  #files-upload-field {
    @include display-grid;
    @include align-content-center;
    @include justify-content-center;
    margin-top: $grid-gap-small;
    background-color: $white;
    justify-content: center;
    border: 1px solid $medium-to-dark-grey;
    min-height: 80px;
  }

  #create-project-form {
    @include display-grid;
    @include grid-template-columns(2, 1fr);
    @include grid-gap($grid-gap-small, $grid-gap-small);
    margin-top: $grid-gap-small;
  }

  .form-group {
    @include display-grid;
    //grid-template-columns: 1.5fr 4fr;

    &.add-on {
      @include grid-template-columns(2, auto)
    }
  }

  .section {
    padding: 10px 25px 25px 25px;
    border: 1px solid $medium-grey;
    margin-bottom: $grid-gap-small;
    background-color: $bg-grey;
  }


  .section-title {
    margin: 15px 0;
    font-size: 1.5em;
    border-bottom: 1px solid $medium-grey;
    padding-bottom: 15px;
    display: grid;
    justify-items: stretch;

    span {
      display: block;
      text-align: right;
    }

    .btn {
      display: inline-block;
    }
  }

  #submit-buttons {
    text-align: center;

    .btn {
      margin: 5px;
    }
  }

  #info-section-inputs {
    display: none;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, .2);

    z-index: 500;

    &.visible {
      display: block;
    }

    .form {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 80%;
      margin: auto;
      @include translate(-50%, -50%);
      overflow-y: auto;

      height: 80vh;
      padding: 20px 30px;
      background-color: white;

      .message-text {
        font-size: 2em;
      }

      .image {
        position: relative;
        height: 200px;
        overflow: hidden;
        border: 1px solid $medium-grey;

        .img-fit {
          width: auto;
          height: inherit;
        }


        .del-btn {
          position: absolute;
          top: 8px;
          right: 5px;
        }
      }
    }
  }

  #media-info {
    display: none;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, .2);

    z-index: 499;

    &.visible {
      display: block;
    }

    .info {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 80%;
      margin: auto;
      @include translate(-50%, -50%);
      overflow-y: auto;

      max-height: 80vh;
      padding: 20px 30px;
      background-color: white;

      .message-text {
        font-size: 2em;
      }
    }
  }

  .info-text {
    font-size: .85em;
    padding: 10px 0;
    border-bottom: 1px solid $medium-grey;

    .section-header {
      margin: 10px 0;
      text-align: left;

      .title {
        display: inline-block;
        margin-right: 10px;
        padding-bottom: 5px;
      }
    }

    img {
      margin-bottom: 10px;
    }

    .label {
      float: left;
      margin-right: 8px;
      background-color: $medium-grey;
      color: $dark-grey;
    }

    .text {
      min-height: 15px;

      a {
        text-decoration: underline;
      }

      p {
        margin: 0 0 .5em 0;
      }
    }
  }

  #project-data {

    .project-data {

      .container {
        width: 100%;
        @include display-grid;
        @include grid-template-columns(3, 1fr);


        .image {
          position: relative;
          min-height: 38px;
          max-height: 180px;
          overflow: hidden;
          margin: 0 1% 1% 0;
          border: 1px solid $medium-grey;

          iframe {
            pointer-events: none;
          }

          video {
            width: 100%;
          }


          .draggable {
            position: absolute;
            width: 100%;
            height: 100%;
            color: $black;
          }

          .del-btn {
            position: absolute;
            top: 8px;
            right: 5px;
          }
        }
      }
    }
  }
}

#admin-projects-list {

  #projects {
    @include display-grid;
    @include grid-template-columns(4, 1fr);
    @include grid-gap(10px, 10px);

    .project-card {
      position: relative;

      .img-fit {
        @include main-transition;
      }

      .labels {
        display: inline-block;
        position: absolute;
        top: 10px;
        left: 10px;
      }

      .star,
      .blocked {
        padding: 5px 10px;
        background-color: $info;
        color: $white;
        margin-right: 5px;
      }

      .blocked {
        background-color: $primary;
      }

      &:hover {
        cursor: pointer;

        .img-fit {
          transform: scale(1.1);
        }
      }

      .project-name {
        margin: 1em 0;
      }
    }
  }
}