@import "colors";
@import "mixins";

#project-create {

  @include flex;
  @include flex-wrap(wrap);

  .languages {
    flex-basis: 100%;
    margin-bottom: 15px;
  }

  #create-project-form {
    @include flex;
    @include flex-wrap(wrap);
    @include align-items(flex-start);

    .buttons-container {
      @include justify-content(center);
    }
  }

  #info-section-inputs {
    //background-color: $light-grey;

    display: none;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, .2);

    z-index: 500;

    &.visible {
      display: block;
    }

    .form {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 80%;
      margin: auto;
      @include translate(-50%, -50%);
      overflow-y: auto;

      max-height: 80vh;
      padding: 20px 30px;
      background-color: white;

      .message-text {
        font-size: 2em;
      }
    }
  }

  #media-info {
    //background-color: $light-grey;

    display: none;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, .2);

    z-index: 499;

    &.visible {
      display: block;
    }

    .info {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 80%;
      margin: auto;
      @include translate(-50%, -50%);
      overflow-y: auto;

      max-height: 80vh;
      padding: 20px 30px;
      background-color: white;

      .message-text {
        font-size: 2em;
      }
    }
  }

  #project-info {
    @include flex-basis(45%);
    @include flex-grow(1);
    @include align-items(flex-start);
    margin-right: 5%;

    @include flex;
    @include flex-wrap(wrap);

    .inputs-holder {
      @include flex-basis(100%);
    }


  }

  .info-text {
    @include flex-basis(100%);
    font-size: .85em;
    padding-bottom: 10px;
    border-bottom: 1px solid $medium-grey;

    .section-header {
      margin-bottom: 5px;

      .title {
        //border-bottom: 1px solid $black;
        display: inline-block;
        margin-right: 10px;
        padding-bottom: 5px;
      }
    }

    .label {
      float: left;
      margin-right: 8px;
      background-color: $medium-grey;
      color: $dark-grey;
    }

    .text {
      min-height: 15px;
      p {
        margin: 0 0 .5em 0;
      }
    }
  }

  #project-data {
    @include flex-basis(50%);
    @include flex-grow(1);

    .section-title {
      @include flex-basis(100%);
      margin: 15px 0;
      font-weight: 400;
    }

    .project-pictures,
    .project-videos {
      @include flex-basis(100%);
      @include flex;
      @include flex-wrap(wrap);
    }

    .project-data {
      .container {
        @include flex-basis(100%);
        width: 100%;
        @include flex;
        @include flex-wrap(wrap);

        .image {
          position: relative;
          @include flex-basis(32%);

          iframe {
            pointer-events: none;
          }

          .draggable {
            position: absolute;
            width: 100%;
            height: 100%;
            color: $black;
          }

          @include flex;
          @include align-items(center);

          overflow: hidden;
          margin: 0 1% 1% 0;
          border: 1px solid $medium-grey;

          .del-btn {
            position: absolute;
            top: 8px;
            right: 5px;
          }
        }
      }
    }
  }

  .drop-field {
    height: 200px;
    margin: 10px 0;
    border: 1px solid $medium-grey;
  }
}

#admin-projects-list {
  .projects-container {
    @include flex;
    @include flex-wrap(wrap);

    .project-card {
      position: relative;

      @include flex-basis(20%);
      @include flex-grow(1);
      margin-right: 1%;

      @include main-transition;

      .hover {
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;

        @include flex;
        @include align-items(center);
        @include justify-content(center);

        width: 100%;
        height: 100%;
        background-color: $primary;

        @include main-transition;

        .edit-btn {
          transform: translateY(-100px);
          color: $white;
          //font-size: 2em;
          @include main-transition;
        }
      }

      &:hover {
        cursor: pointer;

        .hover {
          opacity: 1;

          .edit-btn {
            transform: translateY(0);
          }
        }
      }
    }
  }
}