$primary: #f94848;
$primary-hover: #ff6968;

$attention: #C54745;
$attention-hover: #983836;

$default: #000;
$default-hover: #414141;

$success: #239797;
$success-hover: #2bb9b9;

$info: #00CEF0;
$info-hover: #00b2d0;

$black: #000;
$blackish-grey: #333;
$dark-grey: #5d5d5d;
$dark-grey-1: #757575;
$medium-to-dark-grey: #ccc;
$medium-grey: #eaeaea;
$light-grey: #fafafa;
$white: #fff;