$primary: #f94848;
$primary-hover: #ff6968;

$attention: #d4ef4a;
$attention-hover: #e4ff4d;

$default: #000;
$default-hover: #414141;

$success: #485b79;
$success-hover: #2b3749;

$info: #0fc565;
$info-hover: #0c9f52;

$black: #000;
$blackish-grey: #333;
$dark-grey: #5d5d5d;
$dark-grey-1: #757575;
$medium-to-dark-grey: #ccc;
$bg-grey: #f4f4f4;
$medium-grey: #eaeaea;
$light-grey: #fafafa;
$white: #fff;

$cool-grey: #9ea7aa;
$cool-grey-two: #949799;
$pale-salmon: #f7f1ea;
$salmon: #ffdac4;
$pale-teal: #86d1bb;
$ultra-marin: #00bcd4;
$pig-pink: #e4838f;
$black-two: #171717;





$header-height: 90px;

$grid-gap: 3em;
$grid-gap-small: 1.5em;


@mixin header {
  $header-height: 90px;

  @media only screen and (max-width: 768px) {
    $header-height: 78px;
  }
}

@mixin header-height {
  height: 90px;

  @media only screen and (max-width: 768px) {
    height: 78px;
  }
}

@mixin container-padding {
  padding: 0 10%;

  @media only screen and (max-width: 768px) {
    padding: 0 5%;
  }
}


@mixin section-padding-top() {
  padding-top: 5em;

  @media only screen and (max-width: 768px) {
    padding-top: 3em;
  }
}

@mixin section-padding-bottom() {
  padding-bottom: 6em;

  @media only screen and (max-width: 768px) {
    padding-bottom: 4em;
  }
}

@mixin section-padding-left-right() {
  padding-left: 25px;
  padding-right: 25px;

  @media only screen and (max-width: 768px) {
    padding-left: 25px;
    padding-right: 25px;
  }
}
