@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&subset=cyrillic');
@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&subset=cyrillic,cyrillic-ext');
@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";
@import "colors";
@import "mixins";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  margin: 0;
  padding: 0;
  color: $black;
  font-family: Montserrat, sans-serif;
  font-size: 14px;

}

h1, h2, h3, h4, h5, h6, p {
  margin: 1em 0 .2em 0;
}

h1, h2 {
  text-transform: uppercase;
}

h2 {
  font-size: 1.9em;
}

p {
  line-height: 1.7em;
}

.container-fluid {
  width: 100%;
}

.container {
  width: 80%;
  margin: auto;
}

.section-padding {
  padding: 80px 25px 0 25px;
}

.text-danger {
  color: $attention;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
  color: inherit;

  &:hover,
  &:active,
  &:visited {
    color: inherit;
  }
}

button {
  border: none;
  outline: none;
  background: none;
}

.btn {
  @include inline-flex;
  width: max-content;
  margin-right: 5px;
  padding: 8px 20px;
  font-family: Montserrat, sans-serif;
  //border-radius: 2px;
  @include main-transition;

  &:hover {
    cursor: pointer;
  }

  .fa {
    margin-right: 5px;
  }

  &.btn-prev,
  &.btn-next {
    width: 40px;
    height: 40px;
    padding: 5px ;
    background-color: $primary;

    &.disabled {
      opacity: .5;
      background-color: $medium-grey;
      pointer-events: none;
      cursor: none;
    }
  }

  &.btn-prev {
    background: url("/images/icons/arrow-left-white.svg") no-repeat center;
    background-size: 80%;
    background-color: $primary;

    &:hover {
      background: url("/images/icons/arrow-left-primary.svg") no-repeat center;
      background-size: 80%;
      background-color: $white;
    }
  }

  &.btn-next {
    background: url("/images/icons/arrow-right-white.svg") no-repeat center;
    background-size: 80%;
    background-color: $primary;

    &:hover {
      background: url("/images/icons/arrow-right-primary.svg") no-repeat center;
      background-size: 80%;
      background-color: $white;
    }
  }


  &.btn-primary {
    color: $white;
    background-color: $primary;

    &:hover,
    &:active {
      background-color: $primary-hover;
    }
  }

  &.btn-default {
    color: $white;
    background-color: $default;

    &:hover,
    &:active {
      color: $default;
      background-color: $white;
    }
  }

  &.btn-default-light {
    color: $default;
    background-color: $white;

    &:hover,
    &:active {
      color: $white;
      background-color: $default;
    }
  }

  &.btn-success {
    color: $white;
    background-color: $success;

    &:hover,
    &:active {
      background-color: $success-hover;
    }
  }

  &.btn-danger {
    color: $white;
    background-color: $attention;

    &:hover,
    &:active {
      background-color: $attention-hover;
    }
  }

  &.btn-light {
    border: 1px solid $medium-grey;
    border-radius: 2px;

    &.selected {
      background-color: $primary;
      color: $white;
    }

    &:hover {
      cursor: pointer;
    }

    &.active {
      background-color: $attention;
    }
  }

  &.xs {
    padding: 3px 7px;
    font-size: .75em;
  }

  &.sm {
    padding: 5px 10px;
    font-size: .85em;
  }

  &.md {
    padding: 8px 20px; //default
  }

  &.lg {
    padding: 11px 25px;
  }
}

.form-group {
  $input-height: 40px;
  @include flex-basis(100%);
  @include flex;
  @include flex-wrap(wrap);
  margin: 10px 0;

  label {
    @include flex-basis(30%);
    margin-bottom: 5px;
    color: $medium-to-dark-grey;
    padding-right: 2%;

    &.no-label {
      display: none;
    }

    .text-danger {
      color: $attention;
      font-weight: 800;
    }
  }

  .form-control {
    @include flex-basis(70%);
    @include flex-grow(1);

    font-family: Montserrat, sans-serif;

    min-height: $input-height;
    padding: 4px 15px;
    outline: 0;
    border-radius: 5px;
    border: 1px solid $medium-grey;

    @include main-transition;
    font-size: 1.1em;

    &.add-on {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      font-size: 1em;
      min-width: 30px;
    }

    &::placeholder {
      font-family: Montserrat, sans-serif;
      font-size: 1em;
      color: $medium-to-dark-grey;
    }

    &:focus {
      border-color: $primary;
      //padding-left: 25px;
    }
  }

  .add-on-btn {
    height: $input-height;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    font-size: 1em;
  }

  textarea {
    font-family: Montserrat, sans-serif;

    &.form-control {
      line-height: 1.5em;
      border: 1px solid $medium-grey;
      height: auto;
      @include flex-basis(60%);
      @include flex-grow(1);
    }
  }

  option {
    color: $dark-grey;
    font-family: Montserrat, sans-serif;
  }

  .section {
    padding: 25px;
    border: 1px solid $medium-grey;
  }
}

.img-fit {
  object-fit: cover;
  height: 100%;
}

.page-header {
  @include flex-basis(100%);
  @include flex;
  @include justify-content(space-between);
  @include flex-wrap(wrap);
  @include align-items(center);

  margin-bottom: 20px;
}

.buttons-container {
  margin: 15px 0 20px;
  padding: 10px 0;
  //border-top: 1px solid $medium-grey;
  //border-bottom: 1px solid $medium-grey;
}

.category-label {
  padding: 5px 10px;
  border: 1px solid $medium-grey;
  border-radius: 2px;
  margin: 3px 3px 0 0;
  font-size: .8em;
  @include main-transition;

  &.selected {
    background-color: $black;
    color: $white;
  }

  &.attention {
    background-color: $info-hover;
    color: $white;
  }

  &:hover {
    cursor: pointer;
  }
}

.label {
  background-color: $black;
  color: $white;
  padding: 2px 5px;
  font-size: .85em;
}

.text-center {
  text-align: center;
}

//COMMON
#messages,
#confirm-dialog {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, .2);
  display: none;
  z-index: 1000;

  &.visible {
    display: block;
  }

  .message {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    //height: 20vh;
    padding: 20px 30px;
    background-color: white;

    .message-text {
      font-size: 2em;
    }
  }
}

main {
  padding-top: 80px; //header height
  min-height: calc(100vh - 80px); //header + footer height
}

#header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 80px;
  //padding: 0 50px;
  @include flex;
  @include justify-content(space-between);
  @include align-items(center);

  z-index: 1000;

  #brand {
    display: inline-block;
    width: 250px;
    height: auto;
    min-height: 50px;
    margin-left: 50%;
    @include translate(-50%, 0);
    background: url("/images/logo/addict_logo.svg") no-repeat left/contain;
    @include main-transition;
  }

  #main-nav {

    //background: $black;

    .nav-link {
      display: inline-block;
      padding: 5px 15px;
      //margin-right: 15px;

      color: $black;

      @include transform-text;
      @include main-transition;

      &:hover,
      &:focus {
        color: $medium-to-dark-grey;
      }

      &.active {
        background-color: $black;
        color: $medium-to-dark-grey;
      }
    }
  }

  #lang-btn {
    @include transform-text;
  }
}

footer {
  @include flex;
  @include justify-content(space-between);
  @include align-items(center);

  height: 80px;

  background-color: $light-grey;
  padding: 15px 25px;

  font-size: .85em;

  #footer-nav {

    //background: $black;

    .nav-link {
      display: inline-block;
      padding: 3px 10px;
      color: $black;

      @include transform-text;
      @include main-transition;

      &:hover,
      &:focus {
        color: $medium-to-dark-grey;
        //border-bottom: 1px solid $medium-to-dark-grey;
      }

      &.active {
        background-color: $black;
        color: $medium-to-dark-grey;

        //font-weight: 600;
        //border-bottom: 1px solid $medium-to-dark-grey;
      }
    }
  }
}

.quill {
  width: 100%;

  .ql-toolbar {
  }

  .ql-container {
    height: auto;
  }
}
