@import "constants";
@import "grid";
@import "animations";
@import "typography";

@media screen and (max-width: 1200px) {
  body {
    font-size: 13px;
  }
}

@media screen and (max-width: 768px) {

  body {
    font-size: 12px;
  }

  main {
    min-height: calc(100vh - 60px); //header + footer height
  }

  h1 {
    font-size: 2.5em;
  }

  h2 {
    font-size: 1.5em;
  }

  .btn {
    padding: 13px 23px;
  }

  #header {

    #brand {
     width: 220px;
    }
  }

  .container {
    width: 85%;
  }

  .container-padding {
    margin: auto;
  }

  #main-nav {
    top: 78px;  // header in smaller devices
  }

  footer {
    grid-template-columns: 7fr 2fr 1fr;

    #social-media {
      i {
        font-size: 2.5em;
      }
    }
  }
}

@media screen and (max-width: 530px) {


  .btn {
    padding: 10px 20px;
  }

  #header {
    .btn {
      padding: 0;
    }

    #toggle-menu-btn,
    #lang-btn {

      justify-self: center;

      .toggle {
        width: 28px;
      }
    }

    #brand {
      width: 180px;
      justify-self: start;
      @include translate(30px, 0)
    }
  }

  #main-nav {
    .nav-link {
      &:first-of-type {
        margin-top: 25px;
      }
    }
  }

  footer {
    grid-template-columns: 2fr 2fr;
    height: 70px;

    #copy {
      grid-area: 2 / 1 / 2 / 3;
    }

    #social-media {
      grid-area: 1 / 1 / 1/ 2;
      padding: 5px 0;
    }

    #footer-nav {
      grid-area: 1 / 2 / 3 / 3;
    }
  }
}

@media screen and (max-width: 370px) {


  .btn {
    padding: 10px 20px;
  }

  #header {
    grid-template-columns: 8fr 40px 40px;

    .btn {
      padding: 0;
    }

    #toggle-menu-btn,
    #lang-btn {

      justify-self: center;

      .toggle {
        width: 28px;
      }
    }

    #brand {
      width: 180px;
      justify-self: start;
      @include translate(30px, 0)
    }
  }
}