@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&subset=cyrillic');
@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";

$primary: #13bd77;
$primary-hover: #13a05d;

$default: #000;
$default-hover: #6e6e6e;

$black: #000;
$blackish-grey: #333;
$dark-grey: #5d5d5d;
$dark-grey-1: #757575;
$medium-to-dark-grey: #ccc;
$medium-grey: #eaeaea;
$light-grey: #fafafa;
$white: #fff;

$header-height: 65px;

@mixin main-transition {
  -webkit-transition: .4s;
  -moz-transition: .4s;
  transition: .4s;
}

@mixin flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

@mixin inline-flex {
  //display: -webkit-inline-box;
  display: -moz-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

@mixin justify-content($value: flex-start) {
  @if $value == flex-start {
    -webkit-box-pack: start;
    -moz-box-pack: start;
    -ms-flex-pack: start;
  } @else if $value == flex-end {
    -webkit-box-pack: end;
    -moz-box-pack: end;
    -ms-flex-pack: end;
  } @else if $value == space-between {
    -webkit-box-pack: justify;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
  } @else if $value == space-around {
    -ms-flex-pack: distribute;
  } @else {
    -webkit-box-pack: $value;
    -moz-box-pack: $value;
    -ms-flex-pack: $value;
  }
  -webkit-justify-content: $value;
  justify-content: $value;
}

@mixin align-items($value: stretch) {
  @if $value == flex-start {
    -webkit-box-align: start;
    -moz-box-align: start;
    -ms-flex-align: start;
  } @else if $value == flex-end {
    -webkit-box-align: end;
    -moz-box-align: end;
    -ms-flex-align: end;
  } @else {
    -webkit-box-align: $value;
    -moz-box-align: $value;
    -ms-flex-align: $value;
  }
  -webkit-align-items: $value;
  align-items: $value;
}

@mixin flex-direction($value: row) {
  @if $value == row-reverse {
    -webkit-box-direction: reverse;
    -webkit-box-orient: horizontal;
    -moz-box-direction: reverse;
    -moz-box-orient: horizontal;
  } @else if $value == column {
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -moz-box-direction: normal;
    -moz-box-orient: vertical;
  } @else if $value == column-reverse {
    -webkit-box-direction: reverse;
    -webkit-box-orient: vertical;
    -moz-box-direction: reverse;
    -moz-box-orient: vertical;
  } @else {
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    -moz-box-direction: normal;
    -moz-box-orient: horizontal;
  }
  -webkit-flex-direction: $value;
  -ms-flex-direction: $value;
  flex-direction: $value;
}

@mixin flex-wrap($value: nowrap) {
  // No Webkit/FF Box fallback.
  -webkit-flex-wrap: $value;
  @if $value == nowrap {
    -ms-flex-wrap: nowrap;
  } @else {
    -ms-flex-wrap: $value;
  }
  flex-wrap: $value;
}

@mixin flex-grow($int: 1) {
  -webkit-box-flex: $int;
  -moz-box-flex: $int;
  -webkit-flex-grow: $int;
  -ms-flex: $int;
  flex-grow: $int;
}

@mixin flex-flow($values: (row nowrap)) {
  // No Webkit/FF Box fallback.
  -webkit-flex-flow: $values;
  -ms-flex-flow: $values;
  flex-flow: $values;
}

@mixin flex-shrink($int: 0) {
  -webkit-flex-shrink: $int;
  -moz-flex-shrink: $int;
  -ms-flex: $int;
  flex-shrink: $int;
}

@mixin flex-basis($value: auto) {
  -webkit-flex-basis: $value;
  flex-basis: $value;
}

@mixin align-self($value: auto) {
  // No Webkit Box Fallback.
  -webkit-align-self: $value;
  @if $value == flex-start {
    -ms-flex-item-align: start;
  } @else if $value == flex-end {
    -ms-flex-item-align: end;
  } @else {
    -ms-flex-item-align: $value;
  }
  align-self: $value;
}

@mixin no-text-select {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                   supported by Chrome and Opera */
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  margin: 0;
  padding: 0;
  color: $dark-grey;
  font-family: Montserrat, sans-serif;
  font-size: 14px;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 1.2em 0 .9em 0;
}

.container-fluid {
  width: 100%;
}

.container {
  width: 80%;
  margin: auto;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
}

button {
  border: none;
  outline: none;
}

.btn {
  margin-right: 5px;
  padding: 10px 20px;
  font-size: 1.3em;
  font-family: Montserrat, sans-serif;
  @include main-transition;

  &:hover {
    cursor: pointer;
  }

  &.btn-primary {
    color: $white;
    background-color: $primary;

    &:hover,
    &:active {
      background-color: $primary-hover;
    }
  }

  &.btn-default {
    color: #ffffff;
    background-color: $default;

    &:hover,
    &:active {
      background-color: $default-hover;
    }
  }

  &.xs {
    padding: 3px 7px;
    border-radius: 2px;
    font-size: .75em;
  }

  &.sm {
    padding: 5px 10px;
    border-radius: 3px;
    font-size: .85em;
  }

  &.md {
    padding: 10px 20px;
    border-radius: 4px;
  }

  &.lg {
    padding: 13px 25px;
    border-radius: 5px;
  }
}

.form-group {

  $input-height: 50px;

  width: 100%;
  @include flex;
  @include flex-wrap(wrap);
  @include align-items(flex-end);
  margin-right: 1%;

  padding: 10px 0;

  label {
    @include flex-basis(100%);
    margin-bottom: 15px;
    color: $dark-grey;
  }

  .form-control {
    @include flex-basis(60%);
    @include flex-grow(1);

    height: $input-height;
    padding: 10px 15px;
    outline: 0;
    border-radius: 5px;
    border: 1px solid $medium-grey;

    @include main-transition;
    font-size: 1.2em;

    &.add-on {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }

    &::placeholder {
      font-family: Montserrat, sans-serif;
      font-size: 1em;
      color: $medium-to-dark-grey;
    }

    &:focus {
      border-color: $primary;
      //padding-left: 25px;
    }
  }

  .add-on-btn {
    @include flex-basis(38%);
    height: $input-height;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    font-size: 1em;
  }

  textarea {
    font-family: Montserrat, sans-serif;

    &.form-control {
      line-height: 1.5em;
      padding: 25px;
      border: 1px solid $medium-grey;
      height: auto;
    }
  }
}

#messages {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, .2);
  display: none;

  &.visible {
    display: block;
  }

  .message {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    //height: 20vh;
    padding: 20px 30px;
    background-color: white;

    .message-text {
      font-size: 2em;
    }
  }
}

#main-nav {
  margin: 25px 10px 50px;
  height: auto;

  .nav-link {
    padding: 15px;

    &.active {
      background-color: $primary;
    }
  }
}

//ADMIN
#project-create {

  @include flex;
  @include flex-wrap(wrap);

  .page-title {
    @include flex-basis(100%);
  }

  #project-form {

    @include flex-basis(60%);

    @include flex;
    @include flex-wrap(wrap);


    .add-avatar-field {
      //@include flex-basis(50%)
    }

    .name-field {
      @include flex-basis(100%)
    }

    .year-field {
      @include flex-basis(20%)
    }

    .client-field {
      @include flex-basis(60%);
      @include flex-grow(1);
    }

    .description-field {
      @include flex-basis(100%)
    }

    .add-image-field {
      //@include flex-basis(50%)
    }
  }

  #project-data {

    @include flex-basis(38%);
    margin-left: 2%;

    .project-pictures,
    .project-videos {
      @include flex-basis(100%);
      @include flex;
      @include flex-wrap(wrap);

      .section-title {
        @include flex-basis(100%);
      }
    }

    .project-avatar,
    .project-pictures,
    .project-videos {
      background-color: $light-grey;
      padding: 10px 20px;
      margin-bottom: 20px;

      .container {
        @include flex-basis(100%);
        width: 100%;
        @include flex;
        @include flex-wrap(wrap);

        .image {
          position: relative;
          @include flex-basis(32%);

          @include flex;
          @include align-items(center);

          height: 150px;
          overflow: hidden;
          margin: 0 1% 1% 0;
          border: 1px solid $medium-grey;

          .del-btn {
            position: absolute;
            top: 8px;
            right: 5px;
          }
        }
      }
    }
  }


}