@import url("https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&subset=cyrillic");
@import url("https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&subset=cyrillic,cyrillic-ext");
@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  position: relative;
  margin: 0;
  padding: 0;
  color: #000;
  font-family: Montserrat, sans-serif;
  font-size: 14px; }

h1, h2, h3, h4, h5, h6, p {
  margin: 1em 0 .2em 0; }

h1, h2 {
  text-transform: uppercase; }

h2 {
  font-size: 1.5em; }

p {
  line-height: 1.7em; }

.container-fluid {
  width: 100%; }

.container {
  width: 86%;
  margin: auto; }

.container-padding {
  padding: 0 7%;
  margin: auto; }

.section-padding {
  padding: 80px 25px 0 25px; }

.text-danger {
  color: #d22a45; }

img {
  width: 100%; }

a {
  text-decoration: none;
  color: inherit; }
  a:hover, a:active, a:visited {
    color: inherit;
    cursor: pointer; }

button {
  border: none;
  outline: none;
  background: none; }

.btn {
  display: -moz-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: max-content;
  margin-right: 5px;
  padding: 8px 20px;
  font-family: Montserrat, sans-serif;
  -webkit-transition: .4s;
  -moz-transition: .4s;
  transition: .4s; }
  .btn:hover {
    cursor: pointer; }
  .btn .fa {
    margin-right: 5px; }
  .btn.btn-prev, .btn.btn-next {
    width: 40px;
    height: 40px;
    padding: 5px;
    background-color: #f94848; }
    .btn.btn-prev.disabled, .btn.btn-next.disabled {
      opacity: .5;
      background-color: #eaeaea;
      pointer-events: none;
      cursor: none; }
  .btn.btn-prev {
    background: url("/images/icons/arrow-left-white.svg") no-repeat center;
    background-size: 80%;
    background-color: #f94848; }
    .btn.btn-prev:hover {
      background: url("/images/icons/arrow-left-primary.svg") no-repeat center;
      background-size: 80%;
      background-color: #fff; }
  .btn.btn-next {
    background: url("/images/icons/arrow-right-white.svg") no-repeat center;
    background-size: 80%;
    background-color: #f94848; }
    .btn.btn-next:hover {
      background: url("/images/icons/arrow-right-primary.svg") no-repeat center;
      background-size: 80%;
      background-color: #fff; }
  .btn.btn-primary {
    color: #fff;
    background-color: #f94848; }
    .btn.btn-primary:hover, .btn.btn-primary:active {
      background-color: #ff6968; }
  .btn.btn-default {
    color: #fff;
    background-color: #000; }
    .btn.btn-default:hover, .btn.btn-default:active {
      color: #000;
      background-color: #fff; }
  .btn.btn-default-light {
    color: #000;
    background-color: #fff; }
    .btn.btn-default-light:hover, .btn.btn-default-light:active {
      color: #fff;
      background-color: #000; }
  .btn.btn-success {
    color: #fff;
    background-color: #239797; }
    .btn.btn-success:hover, .btn.btn-success:active {
      background-color: #2bb9b9; }
  .btn.btn-danger {
    color: #fff;
    background-color: #d22a45; }
    .btn.btn-danger:hover, .btn.btn-danger:active {
      background-color: #a72137; }
  .btn.btn-light {
    border: 1px solid #eaeaea;
    border-radius: 2px; }
    .btn.btn-light.selected {
      background-color: #f94848;
      color: #fff; }
    .btn.btn-light:hover {
      cursor: pointer; }
    .btn.btn-light.active {
      background-color: #d22a45; }
  .btn.xs {
    padding: 3px 7px;
    font-size: .75em; }
  .btn.sm {
    padding: 5px 10px;
    font-size: .85em; }
  .btn.md {
    padding: 8px 20px; }
  .btn.lg {
    padding: 11px 25px; }

.form-group {
  -webkit-flex-basis: 100%;
  flex-basis: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 10px 0; }
  .form-group label {
    -webkit-flex-basis: 30%;
    flex-basis: 30%;
    margin-bottom: 5px;
    color: #ccc;
    padding-right: 2%; }
    .form-group label.no-label {
      display: none; }
    .form-group label .text-danger {
      color: #d22a45;
      font-weight: 800; }
  .form-group .form-control {
    -webkit-flex-basis: 70%;
    flex-basis: 70%;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex: 1;
    flex-grow: 1;
    font-family: Montserrat, sans-serif;
    min-height: 40px;
    padding: 4px 15px;
    outline: 0;
    border-radius: 5px;
    border: 1px solid #eaeaea;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    transition: .4s;
    font-size: 1.1em; }
    .form-group .form-control.add-on {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      font-size: 1em;
      min-width: 30px; }
    .form-group .form-control::placeholder {
      font-family: Montserrat, sans-serif;
      font-size: 1em;
      color: #ccc; }
    .form-group .form-control:focus {
      border-color: #f94848; }
  .form-group .add-on-btn {
    height: 40px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    font-size: 1em; }
  .form-group textarea {
    font-family: Montserrat, sans-serif; }
    .form-group textarea.form-control {
      line-height: 1.5em;
      border: 1px solid #eaeaea;
      height: auto;
      -webkit-flex-basis: 60%;
      flex-basis: 60%;
      -webkit-box-flex: 1;
      -moz-box-flex: 1;
      -webkit-flex-grow: 1;
      -ms-flex: 1;
      flex-grow: 1; }
  .form-group option {
    color: #5d5d5d;
    font-family: Montserrat, sans-serif; }
  .form-group .section {
    padding: 25px;
    border: 1px solid #eaeaea; }

.img-fit {
  object-fit: cover;
  height: 100%; }

.page-header {
  -webkit-flex-basis: 100%;
  flex-basis: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  margin-bottom: 20px; }

.buttons-container {
  margin: 15px 0 20px;
  padding: 10px 0; }

.category-label {
  padding: 5px 10px;
  border: 1px solid #eaeaea;
  border-radius: 2px;
  margin: 3px 3px 0 0;
  font-size: .8em;
  -webkit-transition: .4s;
  -moz-transition: .4s;
  transition: .4s; }
  .category-label.selected {
    background-color: #000;
    color: #fff; }
  .category-label.attention {
    background-color: #00b2d0;
    color: #fff; }
  .category-label:hover {
    cursor: pointer; }

.label {
  background-color: #000;
  color: #fff;
  padding: 2px 5px;
  font-size: .85em; }

.text-center {
  text-align: center; }

#messages,
#confirm-dialog {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  display: none;
  z-index: 1000; }
  #messages.visible,
  #confirm-dialog.visible {
    display: block; }
  #messages .message,
  #confirm-dialog .message {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    padding: 20px 30px;
    background-color: white; }
    #messages .message .message-text,
    #confirm-dialog .message .message-text {
      font-size: 2em; }

main {
  padding-top: 80px;
  min-height: calc(100vh - 80px); }

#header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 80px;
  padding: 0 25px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: none;
  -ms-flex-wrap: none;
  flex-wrap: none;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  background: #fff;
  z-index: 1000; }
  #header #brand {
    display: inline-block;
    width: 250px;
    height: auto;
    min-height: 50px;
    margin-left: 50%;
    -webkit-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    background: url("/images/logo/addict_logo.svg") no-repeat left/contain;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    transition: .4s; }
  #header #toggle-menu-btn {
    display: none;
    background-color: #000; }
    #header #toggle-menu-btn .toggle {
      display: block;
      height: 1px;
      width: 15px;
      background-color: #ccc;
      margin: 4px auto;
      -webkit-transition: .4s;
      -moz-transition: .4s;
      transition: .4s; }
  #header #main-nav {
    -webkit-flex-basis: auto;
    flex-basis: auto; }
    #header #main-nav .nav-link {
      display: inline-block;
      padding: 5px 15px;
      color: #000;
      text-transform: uppercase;
      letter-spacing: 2px;
      font-size: .85em;
      -webkit-transition: .4s;
      -moz-transition: .4s;
      transition: .4s; }
      #header #main-nav .nav-link:hover, #header #main-nav .nav-link:focus {
        color: #ccc; }
      #header #main-nav .nav-link.active {
        background-color: #000;
        color: #ccc; }
  #header #lang-btn {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: .85em; }

footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  height: 80px;
  background-color: #fafafa;
  padding: 15px 25px;
  font-size: .85em; }
  footer #footer-nav .nav-link {
    display: inline-block;
    padding: 3px 10px;
    color: #000;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: .85em;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    transition: .4s; }
    footer #footer-nav .nav-link:hover, footer #footer-nav .nav-link:focus {
      color: #ccc; }
    footer #footer-nav .nav-link.active {
      background-color: #000;
      color: #ccc; }

.quill {
  width: 100%; }
  .quill .ql-container {
    height: auto; }

/*# sourceMappingURL=main.css.map */
