@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&subset=cyrillic');
@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&subset=cyrillic,cyrillic-ext');
@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";

$primary: #13bd77;
$primary-hover: #13a05d;

$primary-darken: #0D7D4F;

$attention: #C54745;
$attention-hover: #983836;

$default: #2C5157;
$default-hover: #477e85;

$info: #00CEF0;
$info-hover: #00b2d0;

$medium-grey-bg: #7A7D71;
$mud-green-bg: #72A383;
$light-green-bg: #23CABA;
$dark-violet-bg: #493A59;
$brick-bg: #B2665D;

$black: #000;
$blackish-grey: #333;
$dark-grey: #5d5d5d;
$dark-grey-1: #757575;
$medium-to-dark-grey: #ccc;
$medium-grey: #eaeaea;
$light-grey: #fafafa;
$white: #fff;

$header-height: 65px;

@mixin main-transition {
  -webkit-transition: .4s;
  -moz-transition: .4s;
  transition: .4s;
}

@mixin flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

@mixin inline-flex {
  //display: -webkit-inline-box;
  display: -moz-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

@mixin justify-content($value: flex-start) {
  @if $value == flex-start {
    -webkit-box-pack: start;
    -moz-box-pack: start;
    -ms-flex-pack: start;
  } @else if $value == flex-end {
    -webkit-box-pack: end;
    -moz-box-pack: end;
    -ms-flex-pack: end;
  } @else if $value == space-between {
    -webkit-box-pack: justify;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
  } @else if $value == space-around {
    -ms-flex-pack: distribute;
  } @else {
    -webkit-box-pack: $value;
    -moz-box-pack: $value;
    -ms-flex-pack: $value;
  }
  -webkit-justify-content: $value;
  justify-content: $value;
}

@mixin align-items($value: stretch) {
  @if $value == flex-start {
    -webkit-box-align: start;
    -moz-box-align: start;
    -ms-flex-align: start;
  } @else if $value == flex-end {
    -webkit-box-align: end;
    -moz-box-align: end;
    -ms-flex-align: end;
  } @else {
    -webkit-box-align: $value;
    -moz-box-align: $value;
    -ms-flex-align: $value;
  }
  -webkit-align-items: $value;
  align-items: $value;
}

@mixin flex-direction($value: row) {
  @if $value == row-reverse {
    -webkit-box-direction: reverse;
    -webkit-box-orient: horizontal;
    -moz-box-direction: reverse;
    -moz-box-orient: horizontal;
  } @else if $value == column {
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -moz-box-direction: normal;
    -moz-box-orient: vertical;
  } @else if $value == column-reverse {
    -webkit-box-direction: reverse;
    -webkit-box-orient: vertical;
    -moz-box-direction: reverse;
    -moz-box-orient: vertical;
  } @else {
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    -moz-box-direction: normal;
    -moz-box-orient: horizontal;
  }
  -webkit-flex-direction: $value;
  -ms-flex-direction: $value;
  flex-direction: $value;
}

@mixin flex-wrap($value: nowrap) {
  // No Webkit/FF Box fallback.
  -webkit-flex-wrap: $value;
  @if $value == nowrap {
    -ms-flex-wrap: nowrap;
  } @else {
    -ms-flex-wrap: $value;
  }
  flex-wrap: $value;
}

@mixin flex-grow($int: 1) {
  -webkit-box-flex: $int;
  -moz-box-flex: $int;
  -webkit-flex-grow: $int;
  -ms-flex: $int;
  flex-grow: $int;
}

@mixin flex-flow($values: (row nowrap)) {
  // No Webkit/FF Box fallback.
  -webkit-flex-flow: $values;
  -ms-flex-flow: $values;
  flex-flow: $values;
}

@mixin flex-shrink($int: 0) {
  -webkit-flex-shrink: $int;
  -moz-flex-shrink: $int;
  -ms-flex: $int;
  flex-shrink: $int;
}

@mixin flex-basis($value: auto) {
  -webkit-flex-basis: $value;
  flex-basis: $value;
}

@mixin align-self($value: auto) {
  // No Webkit Box Fallback.
  -webkit-align-self: $value;
  @if $value == flex-start {
    -ms-flex-item-align: start;
  } @else if $value == flex-end {
    -ms-flex-item-align: end;
  } @else {
    -ms-flex-item-align: $value;
  }
  align-self: $value;
}

@mixin no-text-select {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                   supported by Chrome and Opera */
}

@mixin gradient-two {
  background-image: -webkit-repeating-linear-gradient(135deg, rgba(0, 0, 0, .3), rgba(0, 0, 0, .3) 1px, transparent 2px, transparent 2px, rgba(0, 0, 0, .3) 3px);
  background-image: -moz-repeating-linear-gradient(135deg, rgba(0, 0, 0, .3), rgba(0, 0, 0, .3) 1px, transparent 2px, transparent 2px, rgba(0, 0, 0, .3) 3px);
  background-image: -o-repeating-linear-gradient(135deg, rgba(0, 0, 0, .3), rgba(0, 0, 0, .3) 1px, transparent 2px, transparent 2px, rgba(0, 0, 0, .3) 3px);
  background-image: repeating-linear-gradient(135deg, rgba(0, 0, 0, .8), rgba(0, 0, 0, .1) 2px, transparent 2px, transparent 2px, rgba(0, 0, 0, .1) 3px);
  -webkit-background-size: 4px 4px;
  -moz-background-size: 4px 4px;
  background-size: 4px 4px;

}

@mixin transform-text {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: .7em;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  margin: 0;
  padding: 0;
  color: $dark-grey;
  font-family: Montserrat, sans-serif;
  font-size: 14px;

}

h1, h2, h3, h4, h5, h6, p {
  margin: .5em 0 .5em 0;
  line-height: 1.5em;
}

.container-fluid {
  width: 100%;
}

.container {
  width: 80%;
  margin: auto;
}

img {
  width: 100%;
}


a {
  text-decoration: none;
  color: inherit;

  &:hover,
  &:active,
  &:visited {
    color: inherit;
  }
}

button {
  border: none;
  outline: none;
  background: none;
}

.btn {
  @include inline-flex;
  width: max-content;
  margin-right: 5px;
  padding: 8px 20px;
  font-size: 1em;
  font-family: Montserrat, sans-serif;
  border-radius: 2px;
  @include main-transition;

  &:hover {
    cursor: pointer;
  }

  &.btn-primary {
    color: $white;
    background-color: $primary;

    &:hover,
    &:active {
      background-color: $primary-hover;
    }
  }

  &.btn-default {
    color: $white;
    background-color: $default;

    &:hover,
    &:active {
      background-color: $default-hover;
    }
  }

  &.btn-danger {
    color: $white;
    background-color: $attention;

    &:hover,
    &:active {
      background-color: $attention-hover;
    }
  }

  &.btn-light {

    padding: 5px 10px;
    border: 1px solid $medium-grey;
    border-radius: 2px;
    font-size: .8em;
    @include main-transition;

    &.selected {
      background-color: $primary;
      color: $white;
    }

    &:hover {
      cursor: pointer;
    }

    &.disabled {
      color: $medium-to-dark-grey;
      pointer-events: none;
      cursor: none;
    }

    &.active {
      background-color: $attention;
    }
  }

  &.xs {
    padding: 3px 7px;
    font-size: .75em;
  }

  &.sm {
    padding: 5px 10px;
    font-size: .85em;
  }

  &.md {
    padding: 8px 20px; //default
  }

  &.lg {
    padding: 11px 25px;
  }
}

.form-group {
  $input-height: 40px;

  @include flex-basis(100%);

  @include flex;

  padding: 10px 0;

  label {
    @include flex-basis(30%);
    //margin-bottom: 15px;
    color: $medium-to-dark-grey;
    padding-right: 2%;

    &.no-label {
      display: none;
    }
  }

  .form-control {
    @include flex-basis(70%);
    @include flex-grow(1);

    font-family: Montserrat, sans-serif;

    height: $input-height;
    padding: 4px 15px;
    outline: 0;
    border-radius: 5px;
    border: 1px solid $medium-grey;

    @include main-transition;
    font-size: 1.2em;

    &.add-on {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      font-size: 1em;
      min-width: 30px;
    }

    &::placeholder {
      font-family: Montserrat, sans-serif;
      font-size: 1em;
      color: $medium-to-dark-grey;
    }

    &:focus {
      border-color: $primary;
      //padding-left: 25px;
    }
  }

  .add-on-btn {
    height: $input-height;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    font-size: 1em;
  }

  textarea {
    font-family: Montserrat, sans-serif;

    &.form-control {
      line-height: 1.5em;
      border: 1px solid $medium-grey;
      height: auto;
      @include flex-basis(60%);
      @include flex-grow(1);
    }
  }

  option {
    color: $dark-grey;
    font-family: Montserrat, sans-serif;
  }
}

.img-fit {
  object-fit: cover;
}

.page-header {
  @include flex-basis(100%);
  @include flex;
  @include justify-content(space-between);
  @include flex-wrap(wrap);
  @include align-items(center);

  margin-bottom: 20px;
}

.buttons-container {
  margin: 15px 0 20px;
}

.category-label {
  padding: 5px 10px;
  border: 1px solid $medium-grey;
  border-radius: 2px;
  margin-right: 3px;
  font-size: .8em;
  @include main-transition;

  &.selected {
    background-color: $primary;
    color: $white;
  }

  &.attention {
    background-color: $info-hover;
    color: $white;
  }

  &:hover {
    cursor: pointer;
  }
}

//COMMON
#messages,
#confirm-dialog {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, .2);
  display: none;
  z-index: 1000;

  &.visible {
    display: block;
  }

  .message {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    //height: 20vh;
    padding: 20px 30px;
    background-color: white;

    .message-text {
      font-size: 2em;
    }
  }
}

#header {
  padding: 5% 10%;

  #brand {
    display: inline-block;
    width: 180px;
    margin-left: -3%;
    height: 50px;
    background: url("/images/logo/addict_logo_10.svg") no-repeat left/contain;
    @include main-transition;
  }

  #main-nav {

    margin-top: 35px;
    //border-bottom: 1px solid $blackish-grey;

    .nav-link {
      display: inline-block;
      padding: 5px 0;
      margin-right: 15px;

      color: $black;

      @include transform-text;
      @include main-transition;

      &:hover,
      &:focus {
        //background-color: $primary;
        color: $medium-to-dark-grey;
      }

      &.active {
        //background-color: $primary;
        color: $medium-to-dark-grey;
        border-bottom: 1px solid $primary;
      }
    }
  }
}

// USER

#home {

  .hero {
    position: relative;
    min-height: calc(100vh - 50px);
    margin: 25px;

    .carousel {
      position: absolute;
      width: 100%;
      height: 100%;

      .img-container {
        height: 100%;

        .img-fit {
          height: 100%;
        }
      }
    }

    .brand {
      position: absolute;
      display: inline-block;
      width: 30%;
      left: 5%;
      top: 10%;
      padding: 20px;

      //background-color: $white;

      .image {
        width: 40%;
        //margin: auto;
      }

      .text {
        width: 90%;
        margin: auto;
        margin-top: 5%;
        @include transform-text;
        //text-align: center;
        color: $dark-grey;
      }
    }
  }

  .projects-container {
    @include flex;
    @include flex-wrap(wrap);

    $margin: 25px;
    $width: calc(50% - 50px);

    .project-card {
      position: relative;
      @include flex-basis($width);
      margin: 22px 25px 0 25px;
      @include flex-grow(1);

      &:nth-of-type(even) {
        margin-left: 0;
      }

      .img-container {
        order: 0;

        .img-fit {
          height: 500px;
        }
      }

      .hover {
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        @include flex;
        @include align-items(center);

        @include main-transition;

        padding: 25px;
        background-color: $light-grey;

        order: 1;
      }

      &:nth-of-type(even) {
        .img-container {
          order: 1;
        }

        .hover {
          order: 0;
        }
      }

      &:hover {
        cursor: pointer;
        .hover {
          opacity: .9;
        }
      }
    }
  }
}

#project,
#projects-list {
  .projects-container {
    @include flex;
    @include flex-wrap(wrap);

    .project-card {
      position: relative;

      $width: calc((100% - (5 * 5px)) / 5);
      $card-size: 200px;

      //@include flex-basis($width);

      width: $card-size;
      height: $card-size;
      margin-right: 5px;
      margin-bottom: 5px;

      @include main-transition;

      .img-fit {
        object-fit: cover;
        height: $card-size;
      }

      .hover {
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;

        @include flex;
        @include align-items(center);
        //@include justify-content(center);

        padding-left: 10%;
        width: 100%;
        height: 100%;
        background-color: $primary;

        @include main-transition;

        .info {
          color: $white;
          font-size: .85em;
          @include main-transition;

          p {
            margin: 2px 0;
          }
        }
      }

      &:hover {
        cursor: pointer;
        .hover {
          opacity: 1;
        }
      }
    }
  }
}

#project {
  @include flex;
  @include flex-wrap(wrap);
  position: relative;

  .project-gallery {
    @include flex-basis(70%);
    @include flex;
    @include flex-wrap(wrap);

    .image {
      @include flex-basis(49%);
      margin: 0 1% .5% 0;
      @include main-transition;

      &:hover {
        cursor: pointer;
        opacity: .7;
      }

    }
  }

  .project-info {
    @include flex-basis(20%);

    @include transform-text;

    .btn:hover {
      background-color: $blackish-grey;
      color: $medium-to-dark-grey;
    }
  }

  .image-preview {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, .8);

    @include flex;
    @include align-items(center);
    @include justify-content(center);
    opacity: 0;
    visibility: hidden;

    @include main-transition;

    &.visible {
      opacity: 1;
      visibility: visible;
      z-index: 1;
    }

    .close-btn {
      position: absolute;
      top: 0;
      right: 0;
      padding: 25px;
      color: $medium-to-dark-grey;
      background-color: $dark-grey;
      z-index: 1000;

      @include main-transition;

      &:hover {
        cursor: pointer;
        color: $white;
        background-color: $primary;
      }
    }

    .gallery-navigation {
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;

      @include flex;
      @include justify-content(space-between);
      @include align-items(center);

      .gallery-navigation-button {
        @include flex-basis(50%);
        height: 100%;
        padding: 0 50px;

        @include flex;
        @include align-items(center);

        @include main-transition;

        &:hover {
          cursor: pointer;
          color: $primary;
        }

        &:nth-of-type(2) {
          @include justify-content(flex-end);
        }
      }
    }

    .image {
      margin: auto;
      width: 80%;
      height: 80vh;
      text-align: center;

      @include flex;
      @include justify-content(center);
      @include align-items(center);

      @include main-transition;

      .img-fit {
        width: auto;
        max-width: 80%;
        height: auto;
        max-height: 80vh;

      }
    }
  }
}

//ADMIN
#project-create {

  @include flex;
  @include flex-wrap(wrap);

  .languages {
    flex-basis: 100%;
    margin-bottom: 15px;
  }

  #create-project-form {
    @include flex;
    @include flex-wrap(wrap);
    @include align-items(flex-start);
  }

  #project-info {
    @include flex-basis(45%);
    @include flex-grow(1);
    @include align-items(flex-start);
    margin-right: 5%;

    @include flex;
    @include flex-wrap(wrap);

    .inputs-holder {
      @include flex-basis(100%);
    }
  }

  #project-data {
    @include flex-basis(50%);
    @include flex-grow(1);

    .section-title {
      @include flex-basis(100%);
      margin: 15px 0;
      font-weight: 400;
    }

    .project-pictures,
    .project-videos {
      @include flex-basis(100%);
      @include flex;
      @include flex-wrap(wrap);
    }

    .project-data {
      .container {
        @include flex-basis(100%);
        width: 100%;
        @include flex;
        @include flex-wrap(wrap);

        .image {
          position: relative;
          @include flex-basis(32%);

          @include flex;
          @include align-items(center);

          overflow: hidden;
          margin: 0 1% 1% 0;
          border: 1px solid $medium-grey;

          .del-btn {
            position: absolute;
            top: 8px;
            right: 5px;
          }
        }
      }
    }
  }

  .drop-field {
    height: 200px;
    margin: 10px 0;
    border: 1px solid $medium-grey;
  }
}

#admin-projects-list {
  .projects-container {
    @include flex;
    @include flex-wrap(wrap);

    .project-card {
      position: relative;

      @include flex-basis(20%);
      @include flex-grow(1);
      margin-right: 1%;

      @include main-transition;

      .hover {
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;

        @include flex;
        @include align-items(center);
        @include justify-content(center);

        width: 100%;
        height: 100%;
        background-color: $primary;

        @include main-transition;

        .edit-btn {
          transform: translateY(-100px);
          color: $white;
          //font-size: 2em;
          @include main-transition;
        }
      }

      &:hover {
        cursor: pointer;

        .hover {
          opacity: 1;

          .edit-btn {
            transform: translateY(0);
          }
        }
      }
    }
  }
}

