
@import "constants";
@import "animations";
@import "mixins";


@media screen and (max-width: 1200px) {

}


@media screen and (max-width: 768px) {

  main {
    min-height: calc(100vh - 60px); //header + footer height
  }

  h1 {
    font-size: 2.5em;
  }

  h2 {
    font-size: 1.5em;
  }

  .container {
    width: 85%;
  }

  .container-padding {
    padding: 0 $container-padding-mobile;
    margin: auto;
  }


  .section-padding-top-bottom {
    padding-top: 40px;
    padding-bottom: 40px;
  }

}

@media screen and (max-width: 420px) {

  .btn {
    padding: 10px 20px;
  }

  #header {

    #brand {
      width: 50%;
    }
  }
}