@import url("https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&subset=cyrillic");
@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";
@import url("https://fonts.googleapis.com/css?family=Lora:400,700|Playfair+Display:400,700,900|Prata&display=swap&subset=cyrillic");
#uploader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1001;
  display: -ms-grid;
  display: grid;
  align-content: center;
  justify-content: center;
  visibility: hidden;
  -webkit-transition: .4s;
  -moz-transition: .4s;
  transition: .4s;
  opacity: 0;
  color: #eaeaea; }
  #uploader.visible {
    visibility: visible;
    opacity: 1; }

.lds-dual-ring {
  margin: auto;
  display: block;
  width: 64px;
  height: 64px; }

.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 46px;
  height: 46px;
  margin: 1px;
  border-radius: 50%;
  border: 2px solid #ddd;
  border-color: #ddd transparent #ddd transparent;
  animation: lds-dual-ring 1.2s linear infinite; }

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  position: relative;
  margin: 0;
  padding: 0;
  color: #000;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px; }

ul,
li {
  list-style-type: none; }

h1 {
  font-size: 4em; }

h2 {
  font-size: 3em; }

.container-fluid {
  width: 100%; }

.container {
  width: 80%;
  margin: auto; }

.bg-light {
  background-color: #f4f4f4; }

.container-padding {
  padding: 0 10%;
  margin: auto; }
  @media only screen and (max-width: 768px) {
    .container-padding {
      padding: 0 5%; } }

.section-padding-top-bottom {
  padding-top: 5em;
  padding-bottom: 6em; }
  @media only screen and (max-width: 768px) {
    .section-padding-top-bottom {
      padding-top: 3em; } }
  @media only screen and (max-width: 768px) {
    .section-padding-top-bottom {
      padding-bottom: 4em; } }

.section-padding-top {
  padding-top: 5em; }
  @media only screen and (max-width: 768px) {
    .section-padding-top {
      padding-top: 3em; } }

.section-padding-bottom {
  padding-bottom: 6em; }
  @media only screen and (max-width: 768px) {
    .section-padding-bottom {
      padding-bottom: 4em; } }

.section-padding-all {
  padding-bottom: 6em;
  padding-top: 5em;
  padding-left: 25px;
  padding-right: 25px; }
  @media only screen and (max-width: 768px) {
    .section-padding-all {
      padding-bottom: 4em; } }
  @media only screen and (max-width: 768px) {
    .section-padding-all {
      padding-top: 3em; } }
  @media only screen and (max-width: 768px) {
    .section-padding-all {
      padding-left: 25px;
      padding-right: 25px; } }

.text-danger {
  color: #d4ef4a; }

img {
  width: 100%;
  height: auto; }

a {
  text-decoration: none;
  color: inherit; }
  a:hover, a:active, a:visited {
    color: inherit;
    cursor: pointer; }

button {
  border: none;
  outline: none;
  background: none; }

.btn {
  width: max-content;
  display: inline-block;
  margin-right: 5px;
  padding: 15px 30px;
  -webkit-transition: .4s;
  -moz-transition: .4s;
  transition: .4s;
  font-weight: 600;
  font-size: 1.1em;
  letter-spacing: .05px;
  border: 1px solid transparent; }
  .btn:hover {
    cursor: pointer; }
  .btn .fa {
    margin-right: 5px; }
  .btn.btn-prev, .btn.btn-next {
    width: 40px;
    height: 40px;
    padding: 5px;
    background-color: #f94848; }
    .btn.btn-prev.disabled, .btn.btn-next.disabled {
      opacity: .5;
      background-color: #eaeaea;
      pointer-events: none;
      cursor: none; }
  .btn.disabled {
    cursor: default;
    background-color: #eaeaea !important;
    color: #fff !important; }
  .btn.btn-prev {
    background: url("/images/icons/arrow-left-white.svg") no-repeat center;
    background-size: 80%;
    background-color: #f94848; }
    .btn.btn-prev:hover {
      background: url("/images/icons/arrow-left-primary.svg") no-repeat center;
      background-size: 80%;
      background-color: #fff; }
  .btn.btn-next {
    background: url("/images/icons/arrow-right-white.svg") no-repeat center;
    background-size: 80%;
    background-color: #f94848; }
    .btn.btn-next:hover {
      background: url("/images/icons/arrow-right-primary.svg") no-repeat center;
      background-size: 80%;
      background-color: #fff; }
  .btn.btn-primary {
    color: #fff;
    background-color: #f94848; }
    .btn.btn-primary:hover, .btn.btn-primary:active {
      background-color: #ff6968; }
  .btn.btn-default {
    color: #fff;
    background-color: #000; }
    .btn.btn-default:hover, .btn.btn-default:active {
      color: #000;
      background-color: #fff;
      border: 1px solid #eaeaea; }
  .btn.btn-default-light {
    color: #000;
    background-color: #fff;
    border: 1px solid #eaeaea; }
    .btn.btn-default-light:hover, .btn.btn-default-light:active {
      color: #fff;
      background-color: #000;
      border-color: #000; }
  .btn.btn-transparent {
    color: #000;
    background-color: transparent; }
    .btn.btn-transparent:hover, .btn.btn-transparent:active {
      color: #000;
      background-color: #fff; }
  .btn.btn-transparent-white {
    color: #fff;
    background-color: transparent; }
    .btn.btn-transparent-white:hover, .btn.btn-transparent-white:active {
      color: #000;
      background-color: #fff; }
  .btn.btn-success {
    color: #fff;
    background-color: #485b79; }
    .btn.btn-success:hover, .btn.btn-success:active {
      background-color: #2b3749; }
  .btn.btn-info {
    color: #fff;
    background-color: #0fc565; }
    .btn.btn-info:hover, .btn.btn-info:active {
      background-color: #0c9f52; }
  .btn.btn-danger {
    color: #5d5d5d;
    background-color: #d4ef4a; }
    .btn.btn-danger:hover, .btn.btn-danger:active {
      background-color: #e4ff4d; }
  .btn.btn-light {
    border: 1px solid #eaeaea;
    border-radius: 2px; }
    .btn.btn-light.selected {
      background-color: #f94848;
      color: #fff; }
    .btn.btn-light:hover {
      cursor: pointer; }
    .btn.btn-light.active {
      background-color: #d4ef4a; }
  .btn.xs {
    padding: 5px 7px;
    font-size: .7em; }
  .btn.sm {
    padding: 8px 15px;
    font-size: .8em; }
  .btn.md {
    padding: 12px 18px; }
  .btn.lg {
    padding: 20px 25px; }

.form-group {
  display: -ms-grid;
  display: grid;
  margin: 10px 0; }
  .form-group.input-wrapper {
    position: relative; }
    .form-group.input-wrapper:after {
      content: 'Select file'; }
  .form-group .file-input {
    cursor: pointer;
    height: 100%;
    max-width: 100px;
    position: absolute;
    top: 0;
    right: 0;
    /*This makes the button huge. If you want a bigger button, increase the font size*/
    font-size: 50px;
    /*Opacity settings for all browsers*/
    opacity: 0;
    -moz-opacity: 0;
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0); }
  .form-group label {
    margin-bottom: 5px;
    color: #5d5d5d;
    padding-right: 2%; }
    .form-group label.no-label {
      display: none; }
    .form-group label .text-danger {
      color: #d4ef4a;
      font-weight: 800; }
  .form-group .validation-text {
    color: #f94848;
    font-size: .8em; }
  .form-group .form-control {
    font-family: Montserrat, sans-serif;
    min-height: 40px;
    padding: 4px 15px;
    outline: 0;
    border-radius: 5px;
    border: 1px solid #eaeaea;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    transition: .4s;
    font-size: 1.1em; }
    .form-group .form-control.add-on {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      font-size: 1em;
      min-width: 30px; }
    .form-group .form-control::placeholder {
      font-family: Montserrat, sans-serif;
      font-size: 1em;
      color: #ccc; }
    .form-group .form-control:focus {
      border-color: #000; }
  .form-group .add-on-btn {
    height: 40px;
    border-radius: 5px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    font-size: 1em;
    padding: 3px 20px; }
  .form-group textarea {
    font-family: Montserrat, sans-serif; }
    .form-group textarea.form-control {
      line-height: 1.5em;
      border: 1px solid #eaeaea;
      height: auto; }
  .form-group option {
    color: #5d5d5d;
    font-family: Montserrat, sans-serif; }
  .form-group .section {
    padding: 25px;
    border: 1px solid #eaeaea; }

.img-container {
  overflow: hidden; }

.img-fit {
  object-fit: cover;
  height: 100%;
  transform: scale(1.04); }

.buttons-container {
  margin: 20px 0; }
  .buttons-container .btn {
    margin-bottom: 5px; }

.category-label {
  padding: 5px 10px;
  border: 1px solid #eaeaea;
  border-radius: 2px;
  margin: 3px 3px 0 0;
  font-size: .8em;
  background-color: #fff;
  -webkit-transition: .4s;
  -moz-transition: .4s;
  transition: .4s; }
  .category-label.selected {
    background-color: #000;
    color: #fff; }
  .category-label.info {
    background-color: #0fc565;
    color: #fff; }
  .category-label.danger {
    background-color: #f94848;
    color: #fff; }
  .category-label:hover {
    cursor: pointer; }

.row {
  display: grid;
  padding: 15px; }
  .row:hover {
    background-color: #000;
    color: #fff; }

.label {
  background-color: #000;
  color: #fff;
  padding: 2px 5px;
  font-size: .85em; }

.text-center {
  text-align: center; }

.text-accent {
  color: #f94848; }

#notifications,
#confirm-dialog {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  display: none;
  z-index: 1000; }
  #notifications.visible,
  #confirm-dialog.visible {
    display: block; }
  #notifications .notification,
  #confirm-dialog .notification {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    max-width: 750px;
    padding: 40px 30px 30px 30px;
    background-color: white;
    border-radius: 7px;
    text-align: center; }
    #notifications .notification .notification-text,
    #confirm-dialog .notification .notification-text {
      font-size: 2em;
      margin-bottom: 30px; }

main {
  padding-top: 90px;
  min-height: calc(100vh - 60px); }

#header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 90px;
  display: -ms-grid;
  display: grid;
  grid-template-columns: 8fr 60px 60px;
  background: #fff;
  z-index: 1000; }
  @media only screen and (max-width: 768px) {
    #header {
      height: 78px; } }
  #header #main-nav {
    display: -ms-grid;
    display: grid;
    align-content: start;
    z-index: 1000;
    position: fixed;
    top: 90px;
    min-width: 280px;
    right: 0;
    bottom: 0;
    background-color: #fff;
    border-left: 1px solid #eaeaea;
    -webkit-transform: translate(105%, 0);
    -moz-transform: translate(105%, 0);
    -ms-transform: translate(105%, 0);
    -o-transform: translate(105%, 0);
    transform: translate(105%, 0);
    -webkit-transition: 0.25s ease-in;
    -moz-transition: 0.25s ease-in;
    transition: 0.25s ease-in; }
    #header #main-nav .nav-link {
      font-size: 1.5em;
      font-weight: 600;
      width: 70%;
      margin: auto;
      padding: 20px;
      border-bottom: 3px solid transparent;
      -webkit-transition: .4s;
      -moz-transition: .4s;
      transition: .4s; }
      #header #main-nav .nav-link:first-of-type {
        margin-top: 80px; }
      #header #main-nav .nav-link.active, #header #main-nav .nav-link:hover, #header #main-nav .nav-link:active {
        border-bottom: 3px solid #f94848; }
    #header #main-nav.visible {
      -webkit-transform: translate(0, 0);
      -moz-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
      -o-transform: translate(0, 0);
      transform: translate(0, 0); }
  #header #lang-btn {
    justify-self: center;
    font-weight: 600;
    font-size: 1.1em;
    letter-spacing: .05px;
    text-transform: uppercase;
    justify-content: center; }
  #header #brand {
    width: 250px;
    background: url("/images/logo/addict_logo.svg") no-repeat left/contain;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    transition: .4s;
    justify-self: center;
    -webkit-transform: translate(60px, 0);
    -moz-transform: translate(60px, 0);
    -ms-transform: translate(60px, 0);
    -o-transform: translate(60px, 0);
    transform: translate(60px, 0); }

#toggle-menu-btn {
  justify-self: center;
  margin-right: 10px;
  align-self: center; }
  #toggle-menu-btn .toggle {
    display: block;
    height: 3px;
    width: 35px;
    background-color: #000;
    margin: 5px auto;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    transition: .4s; }
  #toggle-menu-btn.clicked .toggle:first-of-type {
    transform: rotate(45deg);
    position: relative;
    top: 8px; }
  #toggle-menu-btn.clicked .toggle:nth-of-type(2) {
    opacity: 0; }
  #toggle-menu-btn.clicked .toggle:last-of-type {
    transform: rotate(-45deg);
    position: relative;
    top: -8px; }

#admin-header {
  position: fixed;
  top: 0;
  width: 100%;
  display: -ms-grid;
  display: grid;
  grid-template-columns: 5fr 3fr .5fr;
  background: #fff;
  align-items: center;
  z-index: 1000;
  padding: 10px;
  border-bottom: 1px solid #000; }
  #admin-header #toggle-menu-btn {
    display: none; }
  #admin-header .nav-link {
    display: inline-block;
    text-align: center;
    padding: 10px 20px;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    transition: .4s; }
    #admin-header .nav-link.active, #admin-header .nav-link:hover, #admin-header .nav-link:active {
      background-color: #000;
      color: #fff; }
    #admin-header .nav-link.logout {
      background: #fff;
      color: #000;
      border: 1px solid #000;
      padding: 5px 10px; }
      #admin-header .nav-link.logout:hover, #admin-header .nav-link.logout:active {
        background: #000;
        color: #fff; }
  #admin-header .username {
    display: inline-block;
    text-align: center;
    padding: 8px 20px;
    justify-self: end; }
    #admin-header .username .name {
      background-color: #fafafa;
      padding: 2px 10px;
      display: inline-block;
      margin-left: 10px; }

footer {
  display: -ms-grid;
  display: grid;
  grid-template-columns: 7fr 1fr 1fr;
  align-content: center;
  padding: 0 20px;
  height: 60px;
  background-color: #fafafa;
  font-size: .85em; }
  footer * {
    align-self: center; }
  footer #social-media i {
    font-size: 2em;
    margin-right: 10px;
    color: #757575;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    transition: .4s; }
    footer #social-media i:hover {
      color: #000; }
  footer #footer-nav {
    text-align: right; }
    footer #footer-nav .nav-link {
      font-size: 1.2em;
      font-weight: 600;
      display: inline-block;
      padding: 3px 10px;
      color: #000;
      -webkit-transition: .4s;
      -moz-transition: .4s;
      transition: .4s; }
      footer #footer-nav .nav-link:hover {
        color: #ccc; }
      footer #footer-nav .nav-link:active {
        color: #000; }

/*# sourceMappingURL=main.css.map */
