@import "constants";
@import "grid";
@import "animations";
@import "typography";

.sidebar {
  @include display-grid;
  @include align-content-top;
  z-index: 1000;

  position: fixed;
  top: $header-height;
  min-width: 280px;
  right: 0;
  bottom: 0;

  background-color: $white;
  border-left: 1px solid $medium-grey;

}

.item {
  font-size: 1.5em;
  font-weight: 600;
  width: 70%;
  margin: auto;
  padding: 20px;
  border-bottom: 3px solid transparent;

  @include main-transition;

  &:first-of-type {
    margin-top: 80px;
  }

  &.active,
  &:hover,
  &:active {
    border-bottom: 3px solid $primary;
  }
}

#go-to-top-btn {
  position: fixed;
  bottom: -25px;
  right: 25px;
  z-index: 999;

  opacity: 0;
  visibility: hidden;

  @include main-transition;

  &.visible {
    opacity: 1;
    bottom: 25px;
    visibility: visible;
  }

  &.bottom {
    bottom: 80px;
  }

  .fa {
    margin: 0;
  }
}

// Common
.banner {
  @include section-padding-top;
  @include section-padding-bottom;
}

.page-header {
  text-align: center;
}

.page-title {
  @include page-title-text;
}

.subtitle {
  @include page-subtitle-text;
}

.subtitle-light {
  color: $dark-grey-1;
  margin-top: 2em;
}

.section-header {
  text-align: center;
  margin-bottom: 3.5em;
}

.section-name {
  display: inline-block;
  padding-bottom: 10px;
  border-bottom: 3px solid $primary;
  margin-bottom: 20px;
  @include transform-button-text-bigger;
}

.section-title {
  @include section-title-text;
}

.section-text {
  @include section-text;
}

.smaller {
  display: block;
  font-size: .75em;
  line-height: 1.4em;
  color: $dark-grey;
  font-weight: 400;
  margin-top: $grid-gap-small;
}


.accent {
  color: $primary;
  text-transform: uppercase;
  font-weight: 600;
}

.article-box {

  .article-headline {
    @include article-headline;
  }

  .article-text {
    @include article-text;
  }
}


.blockquote {
  background-color: $pale-salmon;
  //background-color: $black;

  .quote {
    @include quotation-text;
  }

  .author {
    @include author;
  }
}

.img-section {
  position: relative;

  .img-container {
    height: auto;
    min-height: 300px;
    background-color: $black;

    .img-fit {
      @include main-transition;
      min-height: inherit;
      opacity: .8;
    }
  }


  .section-title,
  .position-absolute {
    position: absolute;
    top: 50%;
    left: 50%;
    @include translate(-50%, -50%);
    @include container-padding;
    text-align: center;
    color: $white;
    width: 100%;

    @include text-shadow;
  }
}


#home {
  text-align: center;

  #video {
    position: relative;

    &:hover,
    &:active {
      #unmute-btn {
        cursor: pointer;
        opacity: 1;
      }
    }

    #unmute-btn {
      opacity: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      @include translate(-50%, -100%);
      color: $white;
      font-size: 3em;
      font-weight: 700;
      letter-spacing: 1px;

      @include ease-in();

      &.invisible {
        display: none;
      }

      &:hover,
      &:active {
        .slider {
          width: 100%;
        }
      }
    }

    .slider {
      display: block;
      margin-top: -25px;
      height: 15px;
      background-color: $primary;
      width: 0;
      transition: width .5s ease;
    }
  }

  .carousel-video {
    width: 100%;
  }

  .home-project {
    position: relative;

    &:hover {
      .img-fit {
        opacity: 0.7;
      }
    }

    .img-container {
      height: auto;
      min-height: 400px;
      background-color: $black;

      .img-fit {
        @include main-transition;
        min-height: inherit;
      }
    }


    .project-info {
      position: absolute;
      width: 50%;
      top: 50%;
      left: 50%;
      @include translate(-50%, -50%);
      color: $white;
      text-align: center;

      @include main-transition;

      &.left {
        text-align: left;
        left: 10%;
        @include translate(0, -50%);
      }

      &.right {
        text-align: right;
        right: 10%;
        left: auto;
        @include translate(0, -50%);
      }


      .project-name {
        @include text-uppercase;
      }

      .cliche {
        @include cliche-home-project;
        margin: 10px 0 50px 0;
      }
    }
  }

  #our-philosophy {

    .section-title {
      font-size: 5em;
    }


    #sections {
      @include display-grid;
      //@include grid-template-columns(4, 1fr);
      @include grid-gap($grid-gap, 0);

      text-align: left;

      .article-box {
        width: 80%;
        margin: auto;
        @include display-grid;
        grid-template-columns: 1.5fr 3fr;
        @include grid-gap(0, $grid-gap);

        @include slow-transition;
      }
    }
  }
}

#about-us,
#careers {

  .article-section {
    @include display-grid;
    grid-template-columns: 40% 60%;
    margin: $grid-gap 0;


    .article-box {
      @include display-grid;
      align-self: center;
      padding: $grid-gap-small $grid-gap;
      border-left: 3px solid $primary;

      p {
        margin-top: .75em;

        &:first-of-type {
          margin-top: 0;
        }
      }
    }

    .animated, .blockquote {
      align-self: center;
      background-color: transparent;

      .quote {
        color: $dark-grey;
        text-align: right;
      }
    }
  }
}

#about-us {

  .container {
    &:nth-of-type(2) {
      .article-section {
        grid-template-columns: 60% 40%;

        .article-box {
          grid-area: 1 / 1 / 2 / 2;
          border-right: 3px solid $primary;
          border-left: none;
        }
      }
    }
  }
}

#careers {
  .article-section {
    grid-template-columns: 2fr 2.5fr;
  }
}


#projects-list .projects-container {
  @include display-grid;
  @include grid-gap($grid-gap);


  .project-card {
    @include display-grid;
    grid-template-columns: 4fr 3fr;

    &:nth-of-type(even) {
      grid-template-columns: 3fr 4fr;

      .img-container {
        grid-area: 1 / 2 / 1 / 2;
      }

      .project-info {
        padding-left: 0;
        padding-right: $grid-gap;
      }
    }


    &:hover {
      cursor: pointer;

      .project-info {

        .btn {
          background: $black;
          padding: 10px 20px;
          color: $white;
        }
      }

      .img-container .img-fit {
        @include scale(1.1);
      }
    }

    .img-container {

      overflow: hidden;

      .img-fit {
        @include main-transition;
      }
    }

    .project-info {
      padding-left: 50px;
      @include display-grid;
      @include align-content-center;

      .project-name {
        @include text-uppercase;
        color: $dark-grey-1;
      }

      .cliche {
        margin: 10px 0 30px 0;
        @include cliche-project-card;
        @include ease-in(.15s);
      }

      .btn {
        color: $medium-to-dark-grey;
        padding: 10px 0;
      }
    }
  }
}

#other-projects,
#services-work {
  .section-header {
    padding: 0 $grid-gap-small;
    margin-bottom: .7em;
  }
}

#random-projects {

  @include display-grid;
  @include grid-template-columns(3, 1fr);
  @include grid-gap($grid-gap-small, $grid-gap-small);
  padding: $grid-gap-small $grid-gap-small;

  .project-card {
    @include display-grid;
    grid-template-rows: auto 3fr;

    &:hover {
      cursor: pointer;

      .project-info {

        .btn {
          background: $black;
          padding: 10px 20px;
          color: $white;
        }
      }

      .img-container .img-fit {
        @include scale(1.1);
      }
    }

    .img-container {
      overflow: hidden;

      .img-fit {
        @include main-transition;
      }
    }

    .project-info {
      @include display-grid;
      @include align-content-space-between;
      padding-top: 25px;

      .project-name {
        @include text-uppercase;
        color: $dark-grey-1;
      }

      .cliche {
        @include cliche-random-projects-card;
        @include ease-in(.15s);
        margin: 10px 0;
      }

      .btn {
        color: $medium-to-dark-grey;
        padding: 10px 0;
      }
    }
  }
}

#project-story {

  // summary
  #project-header {
    text-align: center;

    .img-container {
      height: auto;
      min-height: 150px;
      //background-color: $black;

      .img-fit {
        min-height: inherit;
        @include scale(1);
      }
    }

    .project-name,
    .client {
      @include text-uppercase;
      font-weight: 600;
    }

    .project-name {
      margin-bottom: .5em;
    }

    .cliche {
      @include cliche-project;
      margin-top: .65em;
    }
  }


  // description
  #project-info {
    @include display-grid;

    .img-container {
      height: auto;
      //min-height: 280px;
      @include section-padding-top;


      .img-fit {
        min-height: inherit;
        @include scale(1);
      }
    }

    .info-section {
      @include section-padding-top;
      @include display-grid;
      grid-template-columns: 2.5fr 5.5fr;

      .section-header {
        margin: 0;
        padding-right: $grid-gap;

        .section-title {
          text-align: left;
        }
      }

      .section-text {
        //@include section-text;
        @include article-text;
        margin-top: 5px;
        padding-bottom: 0;

        a {
          color: $pale-teal;
          color: $hyperlink;
          color: $hyperlink-2;
        }
      }
    }
  }


  // project images
  #project-gallery,
  #project-video-gallery {
    position: relative;
    overflow: hidden;
    @include section-padding-top;
  }

  #gallery,
  #video-gallery {
    @include flex;
    white-space: nowrap;
    @include container-padding;
  }

  .image-container,
  .video-container {
    position: relative;
    margin-right: 15px;
    @include display-grid;

    .btn {
      position: absolute;
      top: 50%;
      Left: 50%;
      @include translate(-50%, -50%);
      opacity: 0;

      background-color: $white;

      @include ease-in(.15s);
    }
  }

  .gallery-navigation {
    //position: absolute;
    //top: 50%;
    //left: 5px;
    //@include translate(0, -50%);
    text-align: center;
    margin-top: $grid-gap-small;

    .btn .fa {
      margin: 0;
    }
  }

  // project images
  #gallery {

    .image-container {
      &:hover {
        .btn {
          opacity: 1;
        }
      }

      .image {
        @include main-transition;
        height: 50vh;

        .img-fit {
          width: auto;
          transform: scale(1);
        }

        &:hover,
        &:active {
          cursor: pointer;
          opacity: .7;
        }
      }

      .name {
        @include text-uppercase;
        margin-top: 10px;
        font-size: .85em;

        p {
          white-space: normal;
        }
      }
    }
  }


  // project videos
  #video-gallery {
    .video-container {
      .video {
        width: 550px;
        height: auto;
      }

      .video-info {
        @include display-grid;
        @include align-content-top;
        border-bottom: 1px solid $dark-grey-1;
        padding: 10px 0;

        .section {
          @include display-grid;
          grid-template-columns: 1fr 3fr;

          &:first-of-type {
            padding-top: 0;
          }
        }

        .section-name {
          font-weight: 600;
          padding: 0;
          border-bottom: none;
          font-size: 1em;
        }

        .section-text {
          font-size: 1.0em;
        }

        p {
          vertical-align: top;
          display: inline-block;
          margin: 0;
          line-height: 1.4em;
          white-space: normal;
        }
      }
    }
  }


  // preview on click
  #image-preview {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .9);

    z-index: 2000;

    @include main-transition;

    #close-btn {
      position: absolute;
      top: 10px;
      right: 10px;

      .fa {
        margin: 0;
      }
    }

    .gallery-navigation {
      position: absolute;
      left: 0;
      top: 50%;
      @include translate(0, -50%);

      width: 100%;
      display: grid;
      grid-template-columns: 1fr 1fr;

      padding: $grid-gap-small;

      .btn:nth-child(2) {
        justify-self: end
      }

    }


    .image {
      display: grid;
      align-items: center;
      justify-items: center;
      width: 100%;
      height: 100%;
      @include main-transition;

      .img-fit {
        width: auto;
        max-width: 90%;
        height: auto;
        max-height: 90%;
      }
    }
  }

  .section-header {
    margin-bottom: .7em;
  }
}

#services {

  #services-main {

    .section-title {
      font-size: 3em;
    }

    #services-scheme {
      @include display-grid;
      @include grid-template-columns(5, 1fr);

      .scheme {
        @include display-grid;
        @include justify-content-center;
        @include align-content-center;
        padding: 30px;
        background-color: $bg-grey;
        text-align: center;
        font-size: 1.3em;
        color: $dark-grey;
        font-weight: 600;

        &.left {
          clip-path: polygon(100% 0%, 90% 50%, 100% 100%, 10% 100%, 0% 50%, 10% 0%);
        }

        &.center {
          font-size: 1.7em;
          clip-path: polygon(90% 0%, 100% 50%, 90% 100%, 10% 100%, 0% 50%, 10% 0%);
          background-color: $primary;
          color: $white;
        }

        &.right {
          clip-path: polygon(90% 0%, 100% 50%, 90% 100%, 0% 100%, 10% 50%, 0% 0%);
        }
      }

      .small {
        font-size: .5em;
        font-weight: 400;
        margin-top: 10px;
      }

      .scheme-description {
        text-align: center;
        color: $dark-grey-1;
        font-weight: 600;
        padding-top: 10px;
      }

      span.scheme-description:nth-child(6) {
        grid-area: 2 / 1 / 2 / 3;
      }

      span.scheme-description:nth-child(7) {
        grid-area: 2 / 3 / 2 / 4;
      }

      span.scheme-description:nth-child(8) {
        grid-area: 2 / 4 / 2 / 6;
      }
    }

  }

  #services-description {

    #articles {
      @include display-grid;
      @include grid-template-columns(2, 1fr);


      .section-title {
        margin: 0;
      }


      // Using animation class instead of 'article-box'
      .animated {
        padding: 10px 45px;
        text-align: center;

        &:nth-of-type(2) {
          grid-area: 2 / 1 / 2 / 1;
        }

        &:nth-of-type(2),
        &:nth-of-type(1) {
          border-right: 2px solid $primary;
        }

        &:nth-of-type(2),
        &:nth-of-type(4) {
          padding-top: 45px;
        }
      }
    }

  }

  #services-skills {
    #skills-description {
      @include display-grid;
      @include grid-template-columns(4, 1fr);
      @include grid-gap($grid-gap, $grid-gap)
    }
  }
}

#careers {

}

#contact-us {
  #contact-form {
    @include section-padding-top;
  }
}

#contact-form {
  width: 60%;
  @include display-grid;
  @include grid-template-columns(2, 1fr);
  @include grid-gap(0, $grid-gap-small);

  .buttons-container,
  .section-title,
  .message {
    @include grid-span(1, 3);
  }

  #message {
    border: 1px solid $dark-grey;
  }

  .form-group {
    @include display-grid;

    .form-control {
      border-radius: 0;
      padding: 5px 15px;
      border: none;
      border-bottom: 1px solid $dark-grey;
      //background-color: $bg-grey;

      &::placeholder {
        font-family: Montserrat, sans-serif;
        font-size: 1em;
        color: $dark-grey;
      }

      &:focus {
        border-color: $primary;
        padding-left: 25px;
        background-color: $white;
      }
    }

    label {
      //display: none;
      color: $black;
      @include transform-button-text;
      padding-left: 1px;
      min-height: 15px;
    }

    .validation-text {
      display: none;
    }
  }

}





