@import "constants";
@import "animations";
@import "mixins";

@media screen and (max-width: 1100px) {

  #home {
    .home-project {
      .project-info {
        width: 60%;

        .cliche {
          font-size: 2.5em;
        }
      }
    }

    #our-philosophy {
      #sections {
        .article-box {
          width: 100%;
        }
      }
    }
  }
}


@media screen and (max-width: 768px) {

  .page-title {
    font-size: 7.5vw;
  }
  .section-title {
    font-size: 2em
  }

  .blockquote {
    background-color: $pale-salmon;

    .quote,
    .author {
      padding: 0 3%;
    }
  }

  #home {
    .home-project {

      .img-container {

      }

      .project-info {
        width: 90%;

        .cliche {
          font-size: 2.0em;
        }
      }
    }

    #our-philosophy {

      .section-title {
        font-size: 3.8em;
      }

      #sections {
        text-align: left;

        .article-box {
          width: 100%;
          grid-template-columns: none;
        }
      }
    }
  }

  #home-projects .projects-container,
  #projects-list .projects-container {

    padding-bottom: 50px;

    .project-card {

      &:nth-of-type(even) {
        .project-info {
          padding-right: 20px;
        }
      }

      .project-info {
        padding-left: 20px;

        .cliche {
          margin: 10px 0 20px 0;
        }

        .btn {
          padding: 10px 0;
          border-bottom: 2px solid transparent;
        }
      }
    }
  }

  #other-projects {

    @include grid-gap(50px, 25px);

    .project-card {

      .project-info {

        padding-top: 10px;

        .cliche {
          font-size: 1.2em;
          line-height: 1.2em;
        }

        .btn {
          padding: 5px 0;
          border-bottom: 2px solid $primary;
        }
      }
    }
  }


  #contact-us {
    .buttons-container,
    .form-group {

      .form-control {
        min-height: 50px;

        &:focus {
          padding-left: 15px;
        }
      }
    }
  }

  #project-story {
    // summary
    #project-header {
      text-align: left;
      border-bottom: 1px solid $medium-to-dark-grey;

      .project-name,
      .client {
      }

      .cliche {
        font-size: 3em;
      }
    }

    // description
    #project-info {

      .info-section {
        grid-template-columns: none;

        .section-header {
          .section-title {
            font-size: 2.2em;
          }
        }

        .section-text {
          margin-top: 0;
          font-size: 1.3em;
        }
      }
    }


    // project images
    #project-gallery {
      width: 100%;
      padding: 50px $container-padding-mobile;


      #gallery {
        @include display-grid;
        @include grid-template-columns(2, 1fr);
        grid-column-gap: 5px;
        padding-left: 0;

        .image-container {
          padding: 0;
          margin-right: 0;

          .image {
            height: auto;

            .img-fit {
              width: 100%;
            }
          }

          .name {
            display: none;
          }

          &.portrait {
            grid-column: 1 / span 2;
          }
        }
      }
    }

    // project videos
    #project-video-gallery {
      margin: 30px $container-padding-mobile;
    }


    #video-gallery {
      margin: 0;
      @include display-grid;
      @include grid-template-columns(1, 1fr);
      width: auto;
      padding: 0;


      .video-container {
        padding: 0;
        width: 100%;
        margin-bottom: 35px;

        .video {
          @include main-transition;
          height: auto;
          width: 100%;
        }

        .video-info {
          padding: 15px;
          font-size: .8em;
        }
      }
    }


    .gallery-navigation {
      display: none;
    }

    // preview on click
    #image-preview {

      .close-btn {
        width: 30px;
        height: 30px;
      }


      .gallery-navigation {

        .gallery-navigation-button {
          padding: 0 10px;

          #prevBtn,
          #nextBtn {
            width: 30px;
            height: 30px;
          }
        }
      }

    }

  }
}


@media screen and (max-width: 580px) {

  #home-projects .projects-container,
  #projects-list .projects-container {

    @include grid-gap(50px);

    .project-card {
      @include grid-template-columns(1);

      &:nth-of-type(even) {
        @include grid-template-columns(1);

        .img-container {
          grid-area: 1 / 1 / 1 / 1;
        }

        .project-info {
          padding-right: 0;
        }
      }

      .project-info {
        padding-left: 0;
        padding-top: 20px;

        .cliche {
          font-size: 1.2em;
          line-height: 1.3em;
        }

        .btn {
          padding: 15px 0;
          border-bottom: 2px solid $primary;
          justify-content: center;
          width: 100%;
        }
      }
    }
  }

  #other-projects {
    @include grid-template-columns(1);

    @include grid-gap(50px);


    .project-card {
      @include display-grid;
      grid-template-rows: auto auto;

      .project-info {
        padding-left: 0;
        padding-top: 20px;

        .cliche {
          font-size: 1.2em;
          line-height: 1.3em;
          margin: 10px 0;
        }

        .btn {
          padding: 15px 0;
          border-bottom: 2px solid $primary;
          justify-content: center;
          width: 100%;
        }
      }
    }
  }

  #contact-form {
    @include grid-template-columns(1, 1fr);

    .buttons-container,
    .section-title,
    #message {
      @include grid-span(1, 2);
    }
  }
}


@media screen and (max-width: 500px) {

  .blockquote {
    .quote {
      font-size: 2.5em;
    }
  }
}

@media screen and (max-width: 420px) {

  #project-story {

    // project videos
    #project-video-gallery {

      #video-gallery {

        .video-container {

          .video-info {
            .section-text,
            .section-name {
              width: 100%;
            }
          }
        }
      }
    }
  }
}