@import "colors";
@import "mixins";

#home {

  #carousel-new {
    position: relative;
    height: calc(100vh - 80px); // header
    background-color: $light-grey;
    overflow: hidden;

    .carousel-navigation {
      position: absolute;
      bottom: 10px;
      left: 50%;
      transform: translateX(-50%);

      .slide-preview {
        @include inline-flex;
        width: 40px;
        height: 5px;
        margin: 0 2px;
        background-color: $medium-grey;
        @include main-transition;

        &:hover,
        &:active,
        &.selected {
          background-color: $black;
          cursor: pointer;
        }
      }
    }

    .slide-content {
      position: absolute;
      top: 5%;
      left: 10%;

      .slide-headline {
        font-size: 2em;
      }

      .slide-text {
        width: 40%;
      }
    }

    .img-container {
      height: 100%;

      .img-fit {
        width: 100%;
        height: auto;
        min-height: 100%;
      }
    }
  }

  #carousel {
    position: relative;

    .carousel-navigation {
      position: absolute;
      bottom: -10px;
      left: 50%;
      transform: translateX(-50%);

      .slide-preview {
        @include inline-flex;
        width: 40px;
        height: 5px;
        margin: 0 2px;
        background-color: $medium-grey;
        @include main-transition;

        &:hover,
        &:active,
        &.selected {
          background-color: $black;
          cursor: pointer;
        }
      }
    }

    .img-container {
      height: 100%;

      .img-fit {
        width: 100%;
        height: auto;
      }
    }
  }

  .carousel-video {
    width: 100%;
  }

  #company {
    border-bottom: 3px solid $primary;

    .section-title {
      @include title-text;
    }

    .about-us {
      //background-color: $primary;
      //color: $white;
      padding: 50px 0;
      color: $medium-to-dark-grey;
      font-size: 1.5em;
    }


    #categories {
      @include display-grid;
      @include grid-template-columns(3, 1fr);

      .category {
        @include display-grid;
        @include slow-transition;

        &:nth-of-type(2) {
          .category-image {
            grid-area: 2 / 1 / 2 / 1;
          }
        }

        &:hover {
          background-color: $pale-salmon;

          .category-image {
            img {
              transform: scale(1.1);
            }
          }
        }

        .category-image {
          overflow: hidden;

          img {
            @include main-transition;
          }
        }

        .category-info {
          padding: 30px 60px;
          display: grid;
          align-items: center;

          .category-name {
            @include transform-text;
            align-self: end;
          }

          .category-text {
            align-self: start;
            padding-top: 15px;
            font-size: .85em;
          }
        }
      }
    }
  }
}

#form-container {
  background-color: $bg-grey;
}

#contact-form {
  @include display-grid;
  @include grid-template-columns(2, 1fr);
  @include grid-gap(10px, 25px);

  .buttons-container,
  .section-title,
  #message {
    @include grid-span(1, 3);
  }

  .form-group {
    @include display-grid;
    margin: 0;

    .form-control {
      border-radius: 0;
      min-height: 60px;
      padding: 15px;
      border: 1px solid $dark-grey;
      font-size: 1.1em;
      color: $dark-grey;
      background-color: transparent;

      &::placeholder {
        font-family: Montserrat, sans-serif;
        font-size: 1em;
        color: $dark-grey;
      }

      &:focus {
        border-color: $salmon;
        padding-left: 25px;
        background-color: $white;
      }
    }

    label {
      //display: none;
      color: $black;
      @include transform-text;
      padding-left: 1px;
      min-height: 15px;
    }

    .validation-text {
      display: none;
    }
  }

}

#home-projects .projects-container,
#projects-list .projects-container {

  @include display-grid;
  @include grid-gap(100px);

  padding-bottom: 100px;

  .project-card {
    @include display-grid;
    grid-template-columns: 4fr 3fr;

    &:nth-of-type(even) {
      grid-template-columns: 3fr 4fr;

      .img-container {
        grid-area: 1 / 2 / 1 / 2;
      }

      .project-info {
        padding-left: 0;
        padding-right: 50px;
      }
    }


    &:hover {
      cursor: pointer;

      .project-info {
        .cliche {
          //color: $primary;
        }

        .btn {
          border-bottom: 2px solid $primary;
          color: $black;
        }
      }

      .img-container .img-fit {
        @include scale(1.05);
      }
    }

    .img-container {

      overflow: hidden;

      .img-fit {
        @include main-transition;
      }
    }

    .project-info {
      padding-left: 50px;
      @include display-grid;
      @include align-content-center;

      .project-name {
        @include transform-text;
        color: $dark-grey-1;
      }

      .cliche {
        font-size: 1.8em;
        line-height: 1.5em;
        font-weight: 500;
        margin: 10px 0 50px 0;
        @include headline-font;

        @include ease-in(.15s);
      }

      .btn {
        padding: 10px 0;
        color: $medium-to-dark-grey;
        border-bottom: 2px solid transparent;
      }
    }
  }
}

#other-projects {

  @include display-grid;
  @include grid-template-columns(3, 1fr);
  @include grid-gap(25px, 25px);


  .project-card {
    @include display-grid;
    grid-template-rows: auto 3fr;

    &:hover {
      cursor: pointer;

      .project-info {

        .btn {
          border-bottom: 2px solid $primary;
          color: $black;
        }
      }

      .img-container .img-fit {
        @include scale(1.05);
      }
    }

    .img-container {
      overflow: hidden;

      .img-fit {
        @include main-transition;
      }
    }

    .project-info {
      @include display-grid;
      @include align-content-space-between;
      padding-top: 25px;

      .project-name {
        @include transform-text;
        color: $dark-grey-1;
      }

      .cliche {
        font-size: 1.5em;
        line-height: 1.5em;
        font-weight: 500;
        margin: 10px 0;
        @include headline-font;

        @include ease-in(.15s);
      }

      .btn {
        padding: 10px 0;
        border-bottom: 2px solid transparent;
        color: $medium-to-dark-grey;
      }
    }
  }
}

#projects-list,
#contact-us {

  .banner {
    //background: url('/images/bgs/birds_BW.jpg') no-repeat center/cover;
    height: auto;
    padding: 80px 0;

    @include display-grid;
    @include align-content-center;
    border-bottom: 3px solid $primary;
    margin-bottom: 80px;

    .page-title {
      @include title-text;
    }

    p {
      color: $medium-to-dark-grey;
      font-size: 1.5em;
    }
  }

  #form-container {
    background-color: transparent;
    padding-top: 0;
  }
}


#project-story {
  @include display-grid;
  padding-top: 25px;


  // info
  #project-info {

    // Cover image
    #project-cover {
      //height: 450px;
      //background-size: cover;
    }

    // summary
    #project-summary {
      padding: 45px 0;
      text-align: center;
      border-bottom: 3px solid $primary;

      .project-name,
      .client {
        @include transform-text;
        color: $dark-grey-1;
        margin: .2em 0;
        text-transform: uppercase;
      }


      .cliche {
        margin-top: .6em;
        font-size: 4vw;
        line-height: 1.15em;
        @include headline-font;

        .field {
          font-weight: 800;

          &:after {
            content: ': '
          }
        }
      }
    }



    // description
    #project-description {

      section {
        &:nth-of-type(odd) {
          //background-color: $bg-grey;
        }
      }

      .section {
        padding-top: 100px;
        padding-bottom: 100px;
        @include display-grid;
        grid-template-columns: 2fr 3fr;


        .section-header {

          .section-title {
            text-align: left;
            margin-bottom: 0;
          }
        }

        .section-text {
          padding-top: 20px;

          p {
            font-size: 1.3em;
            color: $dark-grey-1 !important;
          }

          p > span {
            color: $dark-grey-1 !important;
          }

        }

        .img-full {
        }
      }
    }
  }

  // project images
  #project-gallery {
    overflow: hidden;
    margin: 30px 0 100px 0; // Like section padding


    #gallery {
      white-space: nowrap;
      padding-left: $container-padding-desktop;


      .image-container {
        padding: 0 15px 0 0;
        //@include flex-basis(30%);
        @include inline-flex;
        @include flex-direction(column);

        .image {
          @include main-transition;
          height: 50vh;


          .img-fit {
            width: auto;
            max-width: 100%;
          }

          &:hover,
          &:active {
            cursor: pointer;
            opacity: .7;
          }
        }

        .name {
          @include transform-text;
          margin-top: 10px;
          font-size: .85em;

          p {
            white-space: normal;
          }
        }
      }
    }
  }

  // project videos
  #project-video-gallery {
    overflow: hidden;
    margin: 30px 0 100px 0; // Like section padding

    #video-gallery {
      @include flex;
      margin-left: $container-padding-desktop; // Like section padding
      width: max-content;

      .video-container {
        padding: 0 15px 0 0;

        @include inline-flex;
        @include flex-direction(column);
        width: 650px;

        .video {
          @include main-transition;
          height: auto;
          width: 100%;
        }

        .video-info {
          width: 100%;
          padding: 25px;
          border-bottom: 1px solid $primary;
          @include flex-grow(1);

          .section {
            width: 100%;
            padding-top: 5px;

            &:first-of-type {
              padding-top: 0;
            }
          }

          .section-name {
            font-weight: 600;
            display: inline-block;
            width: 150px;

            &:after {
              content: '';
            }
          }

          .section-text {
            width: calc(100% - 150px);
          }

          p {
            vertical-align: top;
            display: inline-block;
            margin: 0;
            line-height: 1.4em;
            white-space: normal;
          }
        }
      }
    }
  }

  .gallery-navigation {
    margin-top: 50px;
    max-width: 100vw;

    @include flex;
    @include justify-content(center);
    @include align-items(center);

    .gallery-navigation-button {
      //@include flex-basis(10%);
      height: 100%;
      padding: 0;

      @include flex;
      @include align-items(center);

      @include main-transition;

      &:hover,
      &:active {
        cursor: pointer;


        #prevBtn,
        #nextBtn {
          cursor: pointer;
          color: $white;
          background-color: $black;
        }
      }


      &:nth-of-type(2) {
        @include justify-content(flex-end);
      }

      #prevBtn,
      #nextBtn {
        width: 40px;
        height: 40px;
        padding: 5px 7px;
        margin: 0 2px;
        background-color: $primary;
        color: $white;

        @include main-transition;

        &.disabled {
          cursor: default;
          background-color: $medium-grey;
          color: $white;
        }

        &:hover,
        &:active {
          cursor: pointer;
        }
      }
    }
  }

  // preview on click
  #image-preview {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, .9);

    @include flex;
    @include align-items(center);
    @include justify-content(center);
    opacity: 0;
    visibility: hidden;

    @include main-transition;

    &.visible {
      opacity: 1;
      visibility: visible;
      z-index: 2000;
    }

    .close-btn {
      position: absolute;
      top: 10px;
      right: 10px;
      width: 40px;
      height: 40px;
      padding: 5px 7px;
      background-color: transparent;

      @include main-transition;

      &:hover,
      &:active {
        cursor: pointer;
        color: $white;
        background-color: $primary;
      }
    }

    .gallery-navigation {
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;

      @include flex;
      @include justify-content(space-between);
      @include align-items(center);

      .gallery-navigation-button {
        @include flex-basis(50%);
        height: 100%;
        padding: 0 50px;

        @include flex;
        @include align-items(center);

        @include main-transition;

        &:hover,
        &:active {

          cursor: pointer;

          #prevBtn,
          #nextBtn {
            cursor: pointer;
            color: $white;
            background-color: $primary;
          }
        }

        &:nth-of-type(2) {
          @include justify-content(flex-end);
        }

        #prevBtn,
        #nextBtn {
          width: 40px;
          height: 40px;
          padding: 5px 7px;
          background-color: transparent;

          @include main-transition;

        }
      }
    }

    .gallery {
      margin: auto;
      width: 90%;
      height: 95vh;

      @include flex;
      //@include flex-direction(column);
      @include justify-content(center);
      @include align-items(center);
    }

    .image {
      @include flex-basis(65%);
      @include main-transition;
      text-align: center;

      .img-fit {
        width: auto;
        max-width: 100%;
        height: auto;
        max-height: 95vh;
      }
    }

    .content {
      @include flex-basis(35%);

      @include flex;
      @include flex-direction(column);

      height: 100%;
      padding: 25px 0 25px 25px;
      color: $white;

      h4 {
        //@include flex-basis(100%);
        @include transform-text;
        font-weight: 600;
        font-size: 1em;
      }

      p {
        font-size: .9em;
      }
    }
  }

  #like-us {
    width: 100%;
    //background: url('/images/bgs/birds_BW.jpg') no-repeat center/cover;
    background-color: $black;
    text-align: center;
    color: $white;

    .section-title {
      font-size: 2em;
    }
  }

}
